[submodule "www/download"]
	path = www/download
	url = git@fykos.cz:fol-data.git
[submodule "libs/gettext-extractor"]
	path = vendor/others/gettext-extractor
	url = https://github.com/karelklima/gettext-extractor.git
[submodule "resources/design/fol-bootstrap"]
	path = resources/design/fol-bootstrap
	url = https://github.com/fykosak/fol-bootstrap.git

