[submodule "www/download"]
	path = www/download
	url = git@fykos.cz:fol-data.git
[submodule "libs/gettext-extractor"]
	path = vendor/others/gettext-extractor
	url = https://github.com/karelklima/gettext-extractor.git
