{*layout '../../../../FrontendModule/templates/@layout.latte'*}
{block content}
    <div>
        {foreach $flashes as $flash}
            <p class="alert alert-{$flash->type}">
                {$flash->message}
            </p>
        {/foreach}
    </div>
    {control entryForm}
{/block}
