[common]
debug.enable = TRUE

; key that's checked when invoking HTTP request for stats refresh
cron.key = "nejaky-klic"

; URL to directory(ies) where problem PDFs are stored
tasks.mirrors[] = "http://example.com/set/"

; comma separated list of hostnames that are server in English by default
i18n.en.hosts = physicsbrawl.org www.physicsbrawl.org

; path to gettext dir structure
i18n.dir = "%app_dir%/i18n/locale"

; language used when no or unknown language is requested
i18n.defaultLang = 'cs'

; specify whether this is the machine dedicated for the game
machine.game = true

; URL to which user is redirected when this is not a game machine (watch out for redirect loops!)
machine.url = http://localhost/

; sender's e-mail address of confirmation e-mail
mail.info = "fyziklani@fykos.cz"

; sender's name of confirmation e-mail
mail.name = "FYKOS"

; database connection
database.host = "localhost"
database.username = "user"
database.password = "pwd"
database.database = "fol"

; TODO is this necessary?
;smtp.host = ""
;smtp.username = ""
;smtp.password = ""


[development < common]

[production < common]
