database:
    dsn: 'mysql:host=localhost;dbname=fol'
    user:
    password:
parameters:
    gameSetup:
        game:
            start: '2021-02-06 00:00:00'
            end: '2021-02-08 00:00:00'
        results:
            show: '2021-02-06 00:00:00'
            hide: '2021-02-08 15:21:00'
        hardVisible: false
        refreshDelay: 60000
        streamURL: https://www.youtube.com/fykosak
    # login:password pairs for organizers' login
    orgs:
        user: password
    tasks:
        # URL to directory(ies) where problem PDFs are stored
        mirrors:
            - http://example.com/set/
    i18n:
        en:
            # comma separated list of hostnames that are server in English by default
            hosts: "physicsbrawl.org,www.physicsbrawl.org"
        # path to gettext dir structure
        dir: %appDir%/i18n/locale
        # language used when no or unknown language is requested
        defaultLang: cs
    mail:
        # sender's e-mail address of confirmation e-mail
        info: "fyziklani@fykos.cz"
        # sender's name of confirmation e-mail
        name: FYKOS
    notifications:
        # interval for Ajax notification polling (in ms)
        pollInterval: 60000
    competition:
        name:
            cs: FOL
            en: FOL.en
        link:
            cs: http://online.fykos.local/cs/
            en: http://online.fykos.local/en/
