tracy:
    email: webmaster@fykos.cz

php:
    date.timezone: Europe/Prague

application:
    errorPresenter: Frontend:Error
    mapping:
        *: FOL\Modules\*Module\Presenters\*Presenter

session:
    expiration: 14 days
    #cookie_secure: true

services:
    - App\Model\Authentication\TeamAuthenticator
    - App\Model\Authentication\OrgAuthenticator(%orgs%)
    - App\Model\Authentication\CronAuthenticator(%cron.key%)
    - App\Model\Translator\GettextTranslator

    router: FOL\Modules\FrontendModule\FrontendModule::createRouter
    - FOL\Model\ORM\AnswersService
    - FOL\Model\ORM\ChatService
    - FOL\Model\ORM\CompetitorsService
    - FOL\Model\ORM\GroupsService
    - FOL\Model\ORM\NotificationService
    - FOL\Model\ORM\PeriodService
    - FOL\Model\ORM\ReportService
    - FOL\Model\ORM\SchoolsService
    - FOL\Model\ORM\ScoreService
    - FOL\Model\ORM\TasksService
    - FOL\Model\ORM\TeamsService
    - FOL\Model\ORM\YearsService

    - FOL\Model\ORM\Service\ServiceInstance
    nette.userStorage:
        setup:
            - setNamespace("olfyziklani")

database:
    conventions: 'discovered'
extensions:
    dibi: Dibi\Bridges\Nette\DibiExtension22
    tasks: FOL\Model\Task\Extension\TaskExtension

includes:
        - acl.neon
