tracy:
    email: webmaster@fykos.cz

php:
    date.timezone: Europe/Prague

application:
    errorPresenter: Error
    mapping:
        *: App\*Module\Presenters\*Presenter

session:
    expiration: 14 days

services:
    Nette\Security\IAuthenticator: App\Model\Authentication\TeamAuthenticator
    #Nette\Security\IAuthorizator: SimpleAuthorizator
    router: App\FrontendModule\FrontendModule::createRouter
    connection: DibiConnection(%database%)
    - App\Model\Interlos
    - App\Model\AnswersModel
    - App\Model\ChatModel
    - App\Model\CompetitorsModel
    - App\Model\GroupsModel
    - App\Model\PeriodModel
    - App\Model\SchoolsModel
    - App\Model\ScoreModel
    - App\Model\TasksModel
    - App\Model\TeamsModel
    - App\Model\YearsModel
    nette.userStorage:
        setup:
            - setNamespace("olfyziklani")

includes:
        - acl.neon
#TODO not reimplemented yet
#[common]
#service.Nette-Security-IAuthorizator = SimpleAuthorizator
#
#[common.set!]
#short_open_tag = Off
#
#[development < common]
#
#[production < common]
#
#[console < common]
