{extends '../@layout.latte'}

{block #subnavigation}
<ul class="nav">
    <li><a href="{plink Game:default}" title="{_'Zadání'}">{_'Zadání'}</a></li>
    {if  $control->yearsService->isGameActive()}
    <li><a href="{plink Game:answer}" title="{_'Odevzdat řešení'}">{_'Odevzdat řešení'}</a></li>
    <li><a href="{plink Game:skip}" title="{_'Přeskočit úkol'}">{_'Přeskočit úkol'}</a></li>
    {/if}
    {if $control->yearsService->isGameEnd()}
    <li>
        <a href="{$basePath}/download/2019-1/ulohy/reseni.{$lang}.pdf">{_'Řešení'}</a>
    </li>
    {/if}
    <li><a href="{plink Game:history}" title="Historie">{_'Historie'}</a></li>
</ul>
{/block}
