[common]
debug.enable = TRUE
debug.log = "%app_dir%/logs/php_error.log"
; sender's e-mail address of confirmation e-mail
mail.info = "interlos@fi.muni.cz"
; sender's name of confirmation e-mail
mail.name = "Interlos tým"
; key that's checked when invoking HTTP request for stats refresh
cron.key = "nejakyklic"
; key that's checked when invoking HTTP request for stats refresh
admin.key = "nejakyklic"
; URL to directory(ies) where problem PDFs are stored
tasks.mirrors[] = "http://example.com/set/"
; path to gettext dir structure
i18n.dir = "%app_dir%/i18n/locale"
; language used when no or unknown language is requested
i18n.defaultLang = 'cs'
; comma separated list of hostnames that are server in English by default
i18n.en.hosts = 

[common.set!]
date.timezone = "Europe/Prague"
short_open_tag = Off

[production < common]
mode.production = TRUE
mode.debug = FALSE
debug.enable = FALSE

database.driver = "mysql"
database.charset = "utf8"
database.host = "localhost"
database.username = "root"
database.password = ""
database.lazy = true
database.database = "interlos"

smtp.host = ""
smtp.username = ""
smtp.password = ""

service.Nette-Security-IAuthenticator = TeamAuthenticator
service.Nette-Security-IAuthorizator = SimpleAuthorizator

[development < production]
database.profiler = TRUE
database.host = "localhost"
database.database = "interlos"
database.username = "root"
database.password = ""

mode.production = FALSE
mode.debug = TRUE

debug.enable = TRUE
debug.profiler = TRUE
[console < development]
