{block content}
    {varType FOL\Model\ORM\Models\ModelNotification $notification}
    {foreach $notifications as $notification}
        {var $className = 'alert alert-' . $notification->level}
        <p class="{$className}">
            {$notification['message']}
            <small class="pull-right">{$notification->created->format('H:m')}</small>
        </p>
    {/foreach}
{/block}
