{block #head}
    <script type="text/javascript"
    src="//cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{/block}

{block content}
    {_'V příspěvcích lze používat MathJax matematiku uvozenou pomocí dvou dolarů. Například '}<code>&#36;&#36;\sin\frac&#123;x&#125;&#123;y&#125;&#36;&#36;</code>
    {control chat}
{/block}
