{block #bigcontent}

<table class="table table-condensed table-striped small">
    <thead>
    <th>#</th>
    <th>název</th>
    <th>nejlepší</th>
    <th>řešilo týmů</th>
    <th>správných odpovědí</th>
    <th>špatných odpovědí</th>
    <th>přeskočeno</th>
</thead>
<tr class="" >
    <td>FoL1</td>
    <td>nenápadný eskalátor</td>
    <td>17:01:23</td>
    <td>423</td>
    <td>363</td>
    <td>291</td>
    <td>8</td>
</tr>
<tr class="" >
    <td>FoL2</td>
    <td>dlouhý den</td>
    <td>17:03:24</td>
    <td>423</td>
    <td>343</td>
    <td>359</td>
    <td>15</td>
</tr>
<tr class="" >
    <td>FoL3</td>
    <td>dvě trubice</td>
    <td>17:03:16</td>
    <td>423</td>
    <td>235</td>
    <td>248</td>
    <td>53</td>
</tr>
<tr class="" >
    <td>FoL4</td>
    <td>ztracené teplo</td>
    <td>17:03:55</td>
    <td>423</td>
    <td>343</td>
    <td>304</td>
    <td>16</td>
</tr>
<tr class="" >
    <td>FoL5</td>
    <td>stovka</td>
    <td>17:02:35</td>
    <td>423</td>
    <td>334</td>
    <td>499</td>
    <td>16</td>
</tr>
<tr class="" >
    <td>FoL6</td>
    <td>lukostřelec</td>
    <td>17:01:49</td>
    <td>423</td>
    <td>324</td>
    <td>113</td>
    <td>15</td>
</tr>
<tr class="" >
    <td>FoL7</td>
    <td>zvláštní zatmění</td>
    <td>17:04:59</td>
    <td>423</td>
    <td>253</td>
    <td>340</td>
    <td>26</td>
</tr>
<tr class="" >
    <td>FoL8</td>
    <td>neuvažujte kauzalitu</td>
    <td>17:06:43</td>
    <td>393</td>
    <td>266</td>
    <td>745</td>
    <td>33</td>
</tr>
<tr class="" >
    <td>FoL9</td>
    <td>RLC sranda</td>
    <td>17:06:14</td>
    <td>386</td>
    <td>171</td>
    <td>126</td>
    <td>61</td>
</tr>
<tr class="" >
    <td>FoL10</td>
    <td>nefér závod</td>
    <td>17:16:34</td>
    <td>380</td>
    <td>184</td>
    <td>886</td>
    <td>48</td>
</tr>
<tr class="" >
    <td>FoL11</td>
    <td>Humber Bridge</td>
    <td>17:09:06</td>
    <td>372</td>
    <td>253</td>
    <td>244</td>
    <td>8</td>
</tr>
<tr class="" >
    <td>FoL12</td>
    <td>skáčeme</td>
    <td>17:17:39</td>
    <td>359</td>
    <td>173</td>
    <td>536</td>
    <td>40</td>
</tr>
<tr class="" >
    <td>FoL13</td>
    <td>spider-spider</td>
    <td>17:10:20</td>
    <td>342</td>
    <td>243</td>
    <td>345</td>
    <td>10</td>
</tr>
<tr class="" >
    <td>FoL14</td>
    <td>je kolonizovatelná?</td>
    <td>17:14:34</td>
    <td>324</td>
    <td>261</td>
    <td>140</td>
    <td>4</td>
</tr>
<tr class="" >
    <td>FoL15</td>
    <td>Danovi shořela věžička.</td>
    <td>17:25:51</td>
    <td>313</td>
    <td>100</td>
    <td>528</td>
    <td>42</td>
</tr>
<tr class="" >
    <td>FoL16</td>
    <td>stovka reloaded</td>
    <td>17:18:59</td>
    <td>290</td>
    <td>128</td>
    <td>382</td>
    <td>20</td>
</tr>
<tr class="" >
    <td>FoL17</td>
    <td>líný elektron</td>
    <td>17:17:28</td>
    <td>265</td>
    <td>156</td>
    <td>185</td>
    <td>3</td>
</tr>
<tr class="" >
    <td>FoL18</td>
    <td>náboj v krabičce</td>
    <td>17:25:38</td>
    <td>236</td>
    <td>81</td>
    <td>177</td>
    <td>16</td>
</tr>
<tr class="" >
    <td>FoL19</td>
    <td>šroubovice</td>
    <td>17:28:58</td>
    <td>222</td>
    <td>83</td>
    <td>128</td>
    <td>12</td>
</tr>
<tr class="" >
    <td>FoL20</td>
    <td>náboj ve válečku</td>
    <td>17:29:30</td>
    <td>197</td>
    <td>77</td>
    <td>206</td>
    <td>11</td>
</tr>
<tr class="" >
    <td>FoL21</td>
    <td>africké Slunce</td>
    <td>17:36:10</td>
    <td>178</td>
    <td>41</td>
    <td>166</td>
    <td>23</td>
</tr>
<tr class="" >
    <td>FoL22</td>
    <td>Red hot nickel... cable?</td>
    <td>17:29:39</td>
    <td>156</td>
    <td>95</td>
    <td>73</td>
    <td>8</td>
</tr>
<tr class="" >
    <td>FoL23</td>
    <td>ve visu</td>
    <td>17:34:08</td>
    <td>140</td>
    <td>74</td>
    <td>140</td>
    <td>6</td>
</tr>
<tr class="" >
    <td>FoL24</td>
    <td>psíček</td>
    <td>17:40:44</td>
    <td>127</td>
    <td>59</td>
    <td>56</td>
    <td>2</td>
</tr>
<tr class="" >
    <td>FoL25</td>
    <td>emise z lihu</td>
    <td>17:44:05</td>
    <td>108</td>
    <td>88</td>
    <td>78</td>
    <td>3</td>
</tr>
<tr class="" >
    <td>FoL26</td>
    <td>skok do neznáma</td>
    <td>17:48:35</td>
    <td>102</td>
    <td>51</td>
    <td>136</td>
    <td>5</td>
</tr>
<tr class="" >
    <td>FoL27</td>
    <td>kutálející se kužel</td>
    <td>17:55:07</td>
    <td>95</td>
    <td>16</td>
    <td>98</td>
    <td>10</td>
</tr>
<tr class="" >
    <td>FoL28</td>
    <td>kladky</td>
    <td>18:18:33</td>
    <td>83</td>
    <td>29</td>
    <td>156</td>
    <td>3</td>
</tr>
<tr class="" >
    <td>FoL29</td>
    <td>malý moment</td>
    <td>18:21:53</td>
    <td>71</td>
    <td>26</td>
    <td>100</td>
    <td>1</td>
</tr>
<tr class="" >
    <td>FoL30</td>
    <td>asteroid s impaktním parametrem</td>
    <td>17:59:43</td>
    <td>58</td>
    <td>32</td>
    <td>36</td>
    <td>2</td>
</tr>
<tr class="" >
    <td>FoL31</td>
    <td>vada koule</td>
    <td>18:43:49</td>
    <td>45</td>
    <td>13</td>
    <td>30</td>
    <td>4</td>
</tr>
<tr class="" >
    <td>FoL32</td>
    <td>kvantový Kepler</td>
    <td>18:19:20</td>
    <td>44</td>
    <td>16</td>
    <td>64</td>
    <td>3</td>
</tr>
<tr class="" >
    <td>FoL33</td>
    <td>napínavý strom</td>
    <td>18:36:50</td>
    <td>37</td>
    <td>11</td>
    <td>30</td>
    <td>7</td>
</tr>
<tr class="" >
    <td>FoL34</td>
    <td>štíhlá linie</td>
    <td>18:28:36</td>
    <td>34</td>
    <td>25</td>
    <td>25</td>
    <td>1</td>
</tr>
<tr class="" >
    <td>FoL35</td>
    <td>přihřátý setrvačník</td>
    <td>18:29:01</td>
    <td>31</td>
    <td>27</td>
    <td>8</td>
    <td>1</td>
</tr>
<tr class="" >
    <td>FoL36</td>
    <td>looping</td>
    <td>18:38:02</td>
    <td>31</td>
    <td>11</td>
    <td>40</td>
    <td>1</td>
</tr>
<tr class="" >
    <td>FoL37</td>
    <td>hrboly na cestě</td>
    <td>19:12:15</td>
    <td>26</td>
    <td>11</td>
    <td>37</td>
    <td>0</td>
</tr>
<tr class="" >
    <td>FoL38</td>
    <td>pirát silnic</td>
    <td>18:41:49</td>
    <td>25</td>
    <td>18</td>
    <td>12</td>
    <td>1</td>
</tr>
<tr class="" >
    <td>FoL39</td>
    <td>pomalu vržený kámen</td>
    <td>19:16:12</td>
    <td>20</td>
    <td>3</td>
    <td>14</td>
    <td>0</td>
</tr>
<tr class="" >
    <td>FoL40</td>
    <td>estetické kuličky</td>
    <td>19:01:12</td>
    <td>16</td>
    <td>14</td>
    <td>9</td>
    <td>0</td>
</tr>
<tr class="" >
    <td>FoL41</td>
    <td>nechutný odporový mrakodrap</td>
    <td>19:01:26</td>
    <td>16</td>
    <td>10</td>
    <td>14</td>
    <td>0</td>
</tr>
<tr class="" >
    <td>FoL42</td>
    <td>manévr</td>
    <td>18:55:21</td>
    <td>14</td>
    <td>10</td>
    <td>9</td>
    <td>0</td>
</tr>
<tr class="" >
    <td>FoL43</td>
    <td>kondenzátorová síť</td>
    <td>18:46:06</td>
    <td>13</td>
    <td>13</td>
    <td>1</td>
    <td>0</td>
</tr>
<tr class="" >
    <td>FoL44</td>
    <td>čtvrtá rychlost</td>
    <td>18:53:21</td>
    <td>13</td>
    <td>7</td>
    <td>4</td>
    <td>0</td>
</tr>
<tr class="" >
    <td>FoL45</td>
    <td>uvnitř kulového zrcadla</td>
    <td>19:43:43</td>
    <td>13</td>
    <td>4</td>
    <td>4</td>
    <td>0</td>
</tr>
<tr class="" >
    <td>FoL46</td>
    <td>rotační strom</td>
    <td>19:34:17</td>
    <td>13</td>
    <td>3</td>
    <td>3</td>
    <td>1</td>
</tr>
<tr class="" >
    <td>FoL47</td>
    <td>neutronový skřipec</td>
    <td></td>
    <td>9</td>
    <td>0</td>
    <td>8</td>
    <td>0</td>
</tr>
<tr class="" >
    <td>FoL48</td>
    <td>opalovačka</td>
    <td>19:10:57</td>
    <td>7</td>
    <td>2</td>
    <td>4</td>
    <td>0</td>
</tr>
<tr class="" >
    <td>FoL49</td>
    <td>ďábelská pružina</td>
    <td></td>
    <td>4</td>
    <td>0</td>
    <td>2</td>
    <td>0</td>
</tr>
<tr class="" >
    <td>FoL50</td>
    <td>náboj a pentagram</td>
    <td></td>
    <td>4</td>
    <td>0</td>
    <td>7</td>
    <td>0</td>
</tr>
<tr class="" >
    <td>M1</td>
    <td>Rickova mikroplaneta</td>
    <td>18:02:12</td>
    <td>423</td>
    <td>281</td>
    <td>293</td>
    <td>13</td>
</tr>
<tr class="" >
    <td>M2</td>
    <td>interdimenzionální hustota</td>
    <td>18:04:33</td>
    <td>294</td>
    <td>238</td>
    <td>207</td>
    <td>9</td>
</tr>
<tr class="" >
    <td>M3</td>
    <td>squanchy frisbee</td>
    <td>18:09:05</td>
    <td>247</td>
    <td>106</td>
    <td>400</td>
    <td>25</td>
</tr>
<tr class="" >
    <td>M4</td>
    <td>wubba lubba dub dub</td>
    <td>18:14:16</td>
    <td>131</td>
    <td>86</td>
    <td>185</td>
    <td>8</td>
</tr>
<tr class="" >
    <td>E1</td>
    <td>jističe</td>
    <td>18:02:32</td>
    <td>423</td>
    <td>312</td>
    <td>183</td>
    <td>14</td>
</tr>
<tr class="" >
    <td>E2</td>
    <td>Fykonači</td>
    <td>18:05:35</td>
    <td>326</td>
    <td>134</td>
    <td>428</td>
    <td>25</td>
</tr>
<tr class="" >
    <td>E3</td>
    <td>trojúhelníkový žebřík</td>
    <td>18:10:34</td>
    <td>159</td>
    <td>107</td>
    <td>108</td>
    <td>5</td>
</tr>
<tr class="" >
    <td>E4</td>
    <td>nelineární Fykosák</td>
    <td>18:21:24</td>
    <td>112</td>
    <td>50</td>
    <td>125</td>
    <td>6</td>
</tr>
<tr class="" >
    <td>X1</td>
    <td>Chernobyl</td>
    <td>18:01:03</td>
    <td>423</td>
    <td>283</td>
    <td>220</td>
    <td>26</td>
</tr>
<tr class="" >
    <td>X2</td>
    <td>hold my graphite</td>
    <td>18:03:38</td>
    <td>309</td>
    <td>200</td>
    <td>134</td>
    <td>26</td>
</tr>
<tr class="" >
    <td>X3</td>
    <td>not great, not terrible</td>
    <td>18:06:26</td>
    <td>226</td>
    <td>142</td>
    <td>231</td>
    <td>18</td>
</tr>
<tr class="" >
    <td>X4</td>
    <td>rádiová-aktivita</td>
    <td>18:07:48</td>
    <td>160</td>
    <td>127</td>
    <td>98</td>
    <td>17</td>
</tr>
</table>