<p>
	Kdykoliv je v zadání uvedeno více alternativních webových adres, obsahují všechny adresy stejnou informaci a jsou uvedeny pouze pro rozložení zátěže (nikdy tedy není žádná úmyslně skrytá informace v rozdílech mezi verzemi).
</p>
<p>
	A ještě několik rad:
</p>
<ul>
	<li>Přečtěte si před hrou ještě jednou pravidla, ať máte jasno v bodování.</li>
        <li>Věnujte pozornost sekci &bdquo;rady&ldquo; v pravidlech.</li>
</ul>