<p>
	Every time a problem refers to more than one web address, all of them contain exactly the same information (we show multiple addresses only for load balancing).
</p>
<p>
	Finally, a little advice:
</p>
<ul>
	<li>Read the rules once more before the game in order to understand the evaluation.</li>
        <li>See the &ldquo;tips&rdquo; section below the rules.</li>
</ul>