{block #bigcontent}
<p>{_'Šedé jsou týmy, jež neprojevily během hry aktivitu.'}</p>
<h2 id="hs_a">{_'Středoškoláci A'}</h2>
<table class="table table-condensed table-striped small">
    <thead>
    <th>#</th>
    <th>{_'tým'}</th>
    <th>{_'celkem bodů'}</th>
    <th>{_'bonusové body'}</th>
    <th>{_'záporné body'}</th>
</thead>
<tr class="text-muted">
    <td></td>
    <td>Student Pilný</td>
    <td>321</td>
    <td>40</td>
    <td>0</td>
</tr>
<tr>
    <td>1</td>
    <td>
        \mathbb{l}H{r}armonic Approxilator
        (5&times;&thinsp;<span class="flag-icon flag-icon-sk"></span>)
    </td>
    <td>
        184
    </td>
    <td>
        36
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>2</td>
    <td>
        SCI-TECH
        (5&times;&thinsp;<span class="flag-icon flag-icon-tr"></span>)
    </td>
    <td>
        176
    </td>
    <td>
        9
    </td>
    <td>
        5
    </td>
</tr>
<tr>
    <td>3</td>
    <td>
        adlai ewing stevenson
        (5&times;&thinsp;<span class="flag-icon flag-icon-us"></span>)
    </td>
    <td>
        174
    </td>
    <td>
        25
    </td>
    <td>
        1
    </td>
</tr>
<tr>
    <td>4</td>
    <td>
        Limit Testers
        (5&times;&thinsp;<span class="flag-icon flag-icon-us"></span>)
    </td>
    <td>
        174
    </td>
    <td>
        9
    </td>
    <td>
        3
    </td>
</tr>
<tr>
    <td>5</td>
    <td>
        PCBCpMEKMu Paul
        (5&times;&thinsp;<span class="flag-icon flag-icon-sg"></span>)
    </td>
    <td>
        171
    </td>
    <td>
        29
    </td>
    <td>
        3
    </td>
</tr>
<tr>
    <td>6</td>
    <td>
        Aliens2
        (5&times;&thinsp;<span class="flag-icon flag-icon-bg"></span>)
    </td>
    <td>
        169
    </td>
    <td>
        28
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>7</td>
    <td>
        (-_(-_(-_-)_-)_-)
        (5&times;&thinsp;<span class="flag-icon flag-icon-lv"></span>)
    </td>
    <td>
        165
    </td>
    <td>
        18
    </td>
    <td>
        1
    </td>
</tr>
<tr>
    <td>8</td>
    <td>
        e = pi = sqrt(g) = 3
        (5&times;&thinsp;<span class="flag-icon flag-icon-ee"></span>)
    </td>
    <td>
        162
    </td>
    <td>
        17
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>9</td>
    <td>
        Maružčyni bobánci
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        148
    </td>
    <td>
        27
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>10</td>
    <td>
        Monta Vista High School
        (5&times;&thinsp;<span class="flag-icon flag-icon-us"></span>)
    </td>
    <td>
        133
    </td>
    <td>
        16
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>11</td>
    <td>
        Teorie všeho
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        132
    </td>
    <td>
        14
    </td>
    <td>
        2
    </td>
</tr>
<tr>
    <td>12</td>
    <td>
        Zase jako minulej rok
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        126
    </td>
    <td>
        17
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>13</td>
    <td>
        {λπΩ}
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        120
    </td>
    <td>
        18
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>14</td>
    <td>
        Strawberič gang
        (5&times;&thinsp;<span class="flag-icon flag-icon-si"></span>)
    </td>
    <td>
        115
    </td>
    <td>
        18
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>15</td>
    <td>
        Calcium
        (5&times;&thinsp;<span class="flag-icon flag-icon-pl"></span>)
    </td>
    <td>
        113
    </td>
    <td>
        9
    </td>
    <td>
        1
    </td>
</tr>
<tr>
    <td>16</td>
    <td>
        Error 404 name not found
        (5&times;&thinsp;<span class="flag-icon flag-icon-ee"></span>)
    </td>
    <td>
        113
    </td>
    <td>
        18
    </td>
    <td>
        1
    </td>
</tr>
<tr>
    <td>17</td>
    <td>
        Doppleráci
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        112
    </td>
    <td>
        9
    </td>
    <td>
        1
    </td>
</tr>
<tr>
    <td>18</td>
    <td>
        Integral-chan
        (5&times;&thinsp;<span class="flag-icon flag-icon-pl"></span>)
    </td>
    <td>
        111
    </td>
    <td>
        9
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>19</td>
    <td>
        Dašák
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        111
    </td>
    <td>
        8
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>20</td>
    <td>
        GJH A
        (5&times;&thinsp;<span class="flag-icon flag-icon-sk"></span>)
    </td>
    <td>
        106
    </td>
    <td>
        9
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>21</td>
    <td>
        Asian Annihilation Reloaded
        (5&times;&thinsp;<span class="flag-icon flag-icon-gb"></span>)
    </td>
    <td>
        105
    </td>
    <td>
        15
    </td>
    <td>
        3
    </td>
</tr>
<tr>
    <td>22</td>
    <td>
        Já bytí absolutno
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        102
    </td>
    <td>
        7
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>23</td>
    <td>
        0x2a
        (5&times;&thinsp;<span class="flag-icon flag-icon-us"></span>)
    </td>
    <td>
        95
    </td>
    <td>
        18
    </td>
    <td>
        1
    </td>
</tr>
<tr>
    <td>24</td>
    <td>
        0^0
        (5&times;&thinsp;<span class="flag-icon flag-icon-pl"></span>)
    </td>
    <td>
        94
    </td>
    <td>
        8
    </td>
    <td>
        1
    </td>
</tr>
<tr>
    <td>25</td>
    <td>
        Radley Feynman
        (5&times;&thinsp;<span class="flag-icon flag-icon-gb"></span>)
    </td>
    <td>
        93
    </td>
    <td>
        9
    </td>
    <td>
        4
    </td>
</tr>
<tr>
    <td>26</td>
    <td>
        ILovePhysicsMC
        (5&times;&thinsp;<span class="flag-icon flag-icon-gb"></span>)
    </td>
    <td>
        92
    </td>
    <td>
        16
    </td>
    <td>
        5
    </td>
</tr>
<tr>
    <td>27</td>
    <td>
        Highgate School
        (5&times;&thinsp;<span class="flag-icon flag-icon-gb"></span>)
    </td>
    <td>
        90
    </td>
    <td>
        17
    </td>
    <td>
        3
    </td>
</tr>
<tr>
    <td>28</td>
    <td>
        Dye Hard
        (5&times;&thinsp;<span class="flag-icon flag-icon-gb"></span>)
    </td>
    <td>
        89
    </td>
    <td>
        9
    </td>
    <td>
        4
    </td>
</tr>
<tr>
    <td>29</td>
    <td>
        Tým (z)houby
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        89
    </td>
    <td>
        9
    </td>
    <td>
        1
    </td>
</tr>
<tr>
    <td>30</td>
    <td>
        Chegg Answers
        (5&times;&thinsp;<span class="flag-icon flag-icon-us"></span>)
    </td>
    <td>
        86
    </td>
    <td>
        13
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>31</td>
    <td>
        Fuj-a-wej
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        85
    </td>
    <td>
        9
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>32</td>
    <td>
        Pozitróny
        (4&times;&thinsp;<span class="flag-icon flag-icon-sk"></span>)
    </td>
    <td>
        80
    </td>
    <td>
        6
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>33</td>
    <td>
        J/t in the Chat
        (5&times;&thinsp;<span class="flag-icon flag-icon-us"></span>)
    </td>
    <td>
        78
    </td>
    <td>
        7
    </td>
    <td>
        3
    </td>
</tr>
<tr>
    <td>34</td>
    <td>
        NA17LURV
        (5&times;&thinsp;<span class="flag-icon flag-icon-se"></span>)
    </td>
    <td>
        78
    </td>
    <td>
        14
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>35</td>
    <td>
        Fine Men
        (2&times;&thinsp;<span class="flag-icon flag-icon-ca"></span>, 3&times;&thinsp;<span class="flag-icon flag-icon-us"></span>)
    </td>
    <td>
        75
    </td>
    <td>
        7
    </td>
    <td>
        2
    </td>
</tr>
<tr>
    <td>36</td>
    <td>
        The Nuclear Waste
        (5&times;&thinsp;<span class="flag-icon flag-icon-sk"></span>)
    </td>
    <td>
        74
    </td>
    <td>
        9
    </td>
    <td>
        1
    </td>
</tr>
<tr>
    <td>37</td>
    <td>
        ŠtěVítMaRaFran
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        73
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>38</td>
    <td>
        IB-ci a Boško
        (5&times;&thinsp;<span class="flag-icon flag-icon-sk"></span>)
    </td>
    <td>
        72
    </td>
    <td>
        9
    </td>
    <td>
        1
    </td>
</tr>
<tr>
    <td>39</td>
    <td>
        P=O*R^G
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        70
    </td>
    <td>
        9
    </td>
    <td>
        10
    </td>
</tr>
<tr>
    <td>40</td>
    <td>
        Fission Chips
        (5&times;&thinsp;<span class="flag-icon flag-icon-gb"></span>)
    </td>
    <td>
        67
    </td>
    <td>
        9
    </td>
    <td>
        6
    </td>
</tr>
<tr>
    <td>41</td>
    <td>
        Černí petříci
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        67
    </td>
    <td>
        7
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>42</td>
    <td>
        Catering
        (5&times;&thinsp;<span class="flag-icon flag-icon-pl"></span>)
    </td>
    <td>
        65
    </td>
    <td>
        9
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>43</td>
    <td>
        error 404 názov not found
        (5&times;&thinsp;<span class="flag-icon flag-icon-sk"></span>)
    </td>
    <td>
        64
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>44</td>
    <td>
        Highgate-2
        (5&times;&thinsp;<span class="flag-icon flag-icon-gb"></span>)
    </td>
    <td>
        62
    </td>
    <td>
        0
    </td>
    <td>
        10
    </td>
</tr>
<tr>
    <td>45</td>
    <td>
        F3lLazZ
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        61
    </td>
    <td>
        0
    </td>
    <td>
        3
    </td>
</tr>
<tr>
    <td>46</td>
    <td>
        LO Królowej Jadwigi w Lublinie
        (5&times;&thinsp;<span class="flag-icon flag-icon-pl"></span>)
    </td>
    <td>
        61
    </td>
    <td>
        0
    </td>
    <td>
        1
    </td>
</tr>
<tr>
    <td>47</td>
    <td>
        Cinghial Hunters
        (5&times;&thinsp;<span class="flag-icon flag-icon-it"></span>)
    </td>
    <td>
        61
    </td>
    <td>
        7
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>48</td>
    <td>
        physics 42
        (4&times;&thinsp;<span class="flag-icon flag-icon-md"></span>)
    </td>
    <td>
        58
    </td>
    <td>
        7
    </td>
    <td>
        10
    </td>
</tr>
<tr>
    <td>49</td>
    <td>
        Radley Rutherford
        (5&times;&thinsp;<span class="flag-icon flag-icon-gb"></span>)
    </td>
    <td>
        56
    </td>
    <td>
        9
    </td>
    <td>
        4
    </td>
</tr>
<tr>
    <td>50</td>
    <td>
        GymclA
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        55
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>51</td>
    <td>
        sqrt(g) = pi
        (5&times;&thinsp;<span class="flag-icon flag-icon-gb"></span>)
    </td>
    <td>
        55
    </td>
    <td>
        0
    </td>
    <td>
        5
    </td>
</tr>
<tr>
    <td>52</td>
    <td>
        Poutníci
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        54
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>53</td>
    <td>
        Szimere Bindis
        (5&times;&thinsp;<span class="flag-icon flag-icon-sk"></span>)
    </td>
    <td>
        51
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>54</td>
    <td>
        PHS Gamma
        (4&times;&thinsp;<span class="flag-icon flag-icon-us"></span>)
    </td>
    <td>
        50
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>55</td>
    <td>
        Neki Novi Autsajderi
        (5&times;&thinsp;<span class="flag-icon flag-icon-ba"></span>)
    </td>
    <td>
        48
    </td>
    <td>
        7
    </td>
    <td>
        3
    </td>
</tr>
<tr>
    <td>56</td>
    <td>
        Nuovoton 2.0
        (5&times;&thinsp;<span class="flag-icon flag-icon-it"></span>)
    </td>
    <td>
        47
    </td>
    <td>
        0
    </td>
    <td>
        3
    </td>
</tr>
<tr>
    <td>57</td>
    <td>
        Guido
        (2&times;&thinsp;<span class="flag-icon flag-icon-us"></span>)
    </td>
    <td>
        46
    </td>
    <td>
        9
    </td>
    <td>
        1
    </td>
</tr>
<tr>
    <td>58</td>
    <td>
        Seriózní zkrat
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        46
    </td>
    <td>
        7
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>59</td>
    <td>
        1/cos(c)
        (5&times;&thinsp;<span class="flag-icon flag-icon-gb"></span>)
    </td>
    <td>
        46
    </td>
    <td>
        0
    </td>
    <td>
        3
    </td>
</tr>
<tr>
    <td>60</td>
    <td>
        Babitscsapat
        (5&times;&thinsp;<span class="flag-icon flag-icon-hu"></span>)
    </td>
    <td>
        46
    </td>
    <td>
        0
    </td>
    <td>
        3
    </td>
</tr>
<tr>
    <td>61</td>
    <td>
        Not great not terrible
        (5&times;&thinsp;<span class="flag-icon flag-icon-sk"></span>)
    </td>
    <td>
        46
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>62</td>
    <td>
        včelí medvídci
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        45
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>63</td>
    <td>
        Mutanti
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        45
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>64</td>
    <td>
        Boltsmanova konstanta
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        44
    </td>
    <td>
        0
    </td>
    <td>
        2
    </td>
</tr>
<tr>
    <td>65</td>
    <td>
        Aperture Science
        (5&times;&thinsp;<span class="flag-icon flag-icon-lv"></span>)
    </td>
    <td>
        44
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>66</td>
    <td>
        Gualphamole
        (5&times;&thinsp;<span class="flag-icon flag-icon-se"></span>)
    </td>
    <td>
        42
    </td>
    <td>
        0
    </td>
    <td>
        6
    </td>
</tr>
<tr>
    <td>67</td>
    <td>
        Generátor chyb
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        41
    </td>
    <td>
        0
    </td>
    <td>
        1
    </td>
</tr>
<tr>
    <td>68</td>
    <td>
        ...
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        40
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>69</td>
    <td>
        Relativní Géniové
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        40
    </td>
    <td>
        0
    </td>
    <td>
        1
    </td>
</tr>
<tr>
    <td>70</td>
    <td>
        Don&#039;t give 2 flux
        (4&times;&thinsp;<span class="flag-icon flag-icon-gb"></span>)
    </td>
    <td>
        39
    </td>
    <td>
        0
    </td>
    <td>
        8
    </td>
</tr>
<tr>
    <td>71</td>
    <td>
        233IQ, 23cm, 2,3promile, 0,23g
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        39
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>72</td>
    <td>
        Statečná dvojka
        (2&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        37
    </td>
    <td>
        0
    </td>
    <td>
        4
    </td>
</tr>
<tr>
    <td>73</td>
    <td>
        Machaři 3
        (4&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        37
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>74</td>
    <td>
        Jouleanos
        (5&times;&thinsp;<span class="flag-icon flag-icon-br"></span>)
    </td>
    <td>
        36
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>75</td>
    <td>
        SpaceY
        (5&times;&thinsp;<span class="flag-icon flag-icon-lv"></span>)
    </td>
    <td>
        35
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>76</td>
    <td>
        Gymro1
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        35
    </td>
    <td>
        0
    </td>
    <td>
        1
    </td>
</tr>
<tr>
    <td>77</td>
    <td>
        RA God
        (5&times;&thinsp;<span class="flag-icon flag-icon-eg"></span>)
    </td>
    <td>
        35
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>78</td>
    <td>
        Behram-begova medresa, Tuzla
        (5&times;&thinsp;<span class="flag-icon flag-icon-ba"></span>)
    </td>
    <td>
        34
    </td>
    <td>
        9
    </td>
    <td>
        10
    </td>
</tr>
<tr>
    <td>79</td>
    <td>
        Physcis fighters
        (4&times;&thinsp;<span class="flag-icon flag-icon-in"></span>)
    </td>
    <td>
        33
    </td>
    <td>
        6
    </td>
    <td>
        10
    </td>
</tr>
<tr>
    <td>80</td>
    <td>
        FnZ
        (4&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        33
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>81</td>
    <td>
        Red Guy on Canale 5
        (4&times;&thinsp;<span class="flag-icon flag-icon-it"></span>)
    </td>
    <td>
        32
    </td>
    <td>
        8
    </td>
    <td>
        4
    </td>
</tr>
<tr>
    <td>82</td>
    <td>
        Náchodská ofenzíva
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        31
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>83</td>
    <td>
        BD Hustler&#039;s
        (3&times;&thinsp;<span class="flag-icon flag-icon-bd"></span>)
    </td>
    <td>
        31
    </td>
    <td>
        0
    </td>
    <td>
        6
    </td>
</tr>
<tr>
    <td>84</td>
    <td>
        School 1384
        (5&times;&thinsp;<span class="flag-icon flag-icon-ru"></span>)
    </td>
    <td>
        30
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>85</td>
    <td>
        FMSS1
        (5&times;&thinsp;<span class="flag-icon flag-icon-ca"></span>)
    </td>
    <td>
        28
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>86</td>
    <td>
        Dzieci Hallidaya
        (5&times;&thinsp;<span class="flag-icon flag-icon-pl"></span>)
    </td>
    <td>
        28
    </td>
    <td>
        0
    </td>
    <td>
        8
    </td>
</tr>
<tr>
    <td>87</td>
    <td>
        Božkovci
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        28
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>88</td>
    <td>
        Fides-et-concordia
        (3&times;&thinsp;<span class="flag-icon flag-icon-lv"></span>)
    </td>
    <td>
        28
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>89</td>
    <td>
        Spartské sovy
        (4&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        27
    </td>
    <td>
        0
    </td>
    <td>
        8
    </td>
</tr>
<tr>
    <td>90</td>
    <td>
        Ivo na hrad!
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        26
    </td>
    <td>
        0
    </td>
    <td>
        1
    </td>
</tr>
<tr>
    <td>91</td>
    <td>
        Damnations
        (4&times;&thinsp;<span class="flag-icon flag-icon-bd"></span>)
    </td>
    <td>
        25
    </td>
    <td>
        0
    </td>
    <td>
        2
    </td>
</tr>
<tr>
    <td>92</td>
    <td>
        NZT
        (3&times;&thinsp;<span class="flag-icon flag-icon-tj"></span>)
    </td>
    <td>
        24
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>93</td>
    <td>
        RevangeOfTheDyson
        (5&times;&thinsp;<span class="flag-icon flag-icon-it"></span>)
    </td>
    <td>
        22
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>94</td>
    <td>
        Frogwill
        (5&times;&thinsp;<span class="flag-icon flag-icon-rs"></span>)
    </td>
    <td>
        18
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>95</td>
    <td>
        Calcinatocaputmundi
        (5&times;&thinsp;<span class="flag-icon flag-icon-it"></span>)
    </td>
    <td>
        17
    </td>
    <td>
        0
    </td>
    <td>
        8
    </td>
</tr>
<tr>
    <td>96</td>
    <td>
        I Negritudine
        (5&times;&thinsp;<span class="flag-icon flag-icon-it"></span>)
    </td>
    <td>
        17
    </td>
    <td>
        0
    </td>
    <td>
        1
    </td>
</tr>
<tr>
    <td>97</td>
    <td>
        Dab Squad
        (4&times;&thinsp;<span class="flag-icon flag-icon-se"></span>)
    </td>
    <td>
        17
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>98</td>
    <td>
        PhxTeamLO1
        (3&times;&thinsp;<span class="flag-icon flag-icon-pl"></span>)
    </td>
    <td>
        16
    </td>
    <td>
        0
    </td>
    <td>
        1
    </td>
</tr>
<tr>
    <td>99</td>
    <td>
        Multinational Gang
        (5&times;&thinsp;<span class="flag-icon flag-icon-ca"></span>)
    </td>
    <td>
        13
    </td>
    <td>
        0
    </td>
    <td>
        1
    </td>
</tr>
<tr>
    <td>100</td>
    <td>
        FMSS2
        (5&times;&thinsp;<span class="flag-icon flag-icon-ca"></span>)
    </td>
    <td>
        8
    </td>
    <td>
        0
    </td>
    <td>
        5
    </td>
</tr>
<tr>
    <td>101</td>
    <td>
        Galileo
        (5&times;&thinsp;<span class="flag-icon flag-icon-ru"></span>)
    </td>
    <td>
        7
    </td>
    <td>
        0
    </td>
    <td>
        4
    </td>
</tr>
<tr>
    <td>102</td>
    <td>
        GJO
        (1&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        3
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr class="text-muted">
    <td>103</td>
    <td>
        Banja Luka
        (5&times;&thinsp;<span class="flag-icon flag-icon-ba"></span>)
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr class="text-muted">
    <td>104</td>
    <td>
        Exponence
        (1&times;&thinsp;<span class="flag-icon flag-icon-it"></span>)
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr class="text-muted">
    <td>105</td>
    <td>
        Fizikalac
        (1&times;&thinsp;<span class="flag-icon flag-icon-ba"></span>)
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr class="text-muted">
    <td>106</td>
    <td>
        Gypya
        (1&times;&thinsp;<span class="flag-icon flag-icon-sk"></span>)
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr class="text-muted">
    <td>107</td>
    <td>
        Lepší už to nebude
        (3&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr class="text-muted">
    <td>108</td>
    <td>
        Make Acceleration G Again
        (5&times;&thinsp;<span class="flag-icon flag-icon-us"></span>)
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
</table>
<h2 id="hs_b">{_'Středoškoláci B'}</h2>
<table class="table table-condensed table-striped small">
    <thead>
    <th>#</th>
    <th>{_'tým'}</th>
    <th>{_'celkem bodů'}</th>
    <th>{_'bonusové body'}</th>
    <th>{_'záporné body'}</th>
</thead>
<tr class="text-muted">
    <td></td>
    <td>Student Pilný</td>
    <td>321</td>
    <td>40</td>
    <td>0</td>
</tr>
<tr>
    <td>1</td>
    <td>
        Asymptotische Freiheit
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        163
    </td>
    <td>
        18
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>2</td>
    <td>
        Desertron
        (5&times;&thinsp;<span class="flag-icon flag-icon-us"></span>)
    </td>
    <td>
        152
    </td>
    <td>
        17
    </td>
    <td>
        1
    </td>
</tr>
<tr>
    <td>3</td>
    <td>
        WWP South
        (5&times;&thinsp;<span class="flag-icon flag-icon-us"></span>)
    </td>
    <td>
        143
    </td>
    <td>
        29
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>4</td>
    <td>
        mass = enslaved energy
        (5&times;&thinsp;<span class="flag-icon flag-icon-tr"></span>)
    </td>
    <td>
        140
    </td>
    <td>
        16
    </td>
    <td>
        6
    </td>
</tr>
<tr>
    <td>5</td>
    <td>
        Matici čo idú vyhrať Fyziklání
        (5&times;&thinsp;<span class="flag-icon flag-icon-sk"></span>)
    </td>
    <td>
        123
    </td>
    <td>
        24
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>6</td>
    <td>
        Taking the L
        (5&times;&thinsp;<span class="flag-icon flag-icon-us"></span>)
    </td>
    <td>
        116
    </td>
    <td>
        7
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>7</td>
    <td>
        Tým Jirky Močkoře
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        114
    </td>
    <td>
        9
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>8</td>
    <td>
        Holub Pitomý
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        112
    </td>
    <td>
        14
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>9</td>
    <td>
        ijk=-1
        (5&times;&thinsp;<span class="flag-icon flag-icon-gb"></span>)
    </td>
    <td>
        107
    </td>
    <td>
        15
    </td>
    <td>
        1
    </td>
</tr>
<tr>
    <td>10</td>
    <td>
        xXxFysaG2ng69420xXx
        (5&times;&thinsp;<span class="flag-icon flag-icon-ee"></span>)
    </td>
    <td>
        106
    </td>
    <td>
        17
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>11</td>
    <td>
        Purplesockers
        (5&times;&thinsp;<span class="flag-icon flag-icon-sk"></span>)
    </td>
    <td>
        101
    </td>
    <td>
        8
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>12</td>
    <td>
        Gamčácke vektory
        (5&times;&thinsp;<span class="flag-icon flag-icon-sk"></span>)
    </td>
    <td>
        97
    </td>
    <td>
        7
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>13</td>
    <td>
        GJH B
        (4&times;&thinsp;<span class="flag-icon flag-icon-sk"></span>)
    </td>
    <td>
        87
    </td>
    <td>
        13
    </td>
    <td>
        1
    </td>
</tr>
<tr>
    <td>14</td>
    <td>
        Oranžový melón
        (5&times;&thinsp;<span class="flag-icon flag-icon-sk"></span>)
    </td>
    <td>
        87
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>15</td>
    <td>
        Watt is the unit of power?
        (5&times;&thinsp;<span class="flag-icon flag-icon-pl"></span>)
    </td>
    <td>
        85
    </td>
    <td>
        9
    </td>
    <td>
        2
    </td>
</tr>
<tr>
    <td>16</td>
    <td>
        Fiitjee bangalore
        (5&times;&thinsp;<span class="flag-icon flag-icon-in"></span>)
    </td>
    <td>
        83
    </td>
    <td>
        9
    </td>
    <td>
        10
    </td>
</tr>
<tr>
    <td>17</td>
    <td>
        Bioložka a čtyři programátoři
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        83
    </td>
    <td>
        8
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>18</td>
    <td>
        Great Neck South High School A
        (5&times;&thinsp;<span class="flag-icon flag-icon-us"></span>)
    </td>
    <td>
        81
    </td>
    <td>
        8
    </td>
    <td>
        3
    </td>
</tr>
<tr>
    <td>19</td>
    <td>
        Kapitán Jaroš Turnovský
        (4&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        78
    </td>
    <td>
        8
    </td>
    <td>
        2
    </td>
</tr>
<tr>
    <td>20</td>
    <td>
        Absolute Hiro
        (5&times;&thinsp;<span class="flag-icon flag-icon-gb"></span>)
    </td>
    <td>
        76
    </td>
    <td>
        17
    </td>
    <td>
        3
    </td>
</tr>
<tr>
    <td>21</td>
    <td>
        Hejčínský underground
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        73
    </td>
    <td>
        8
    </td>
    <td>
        2
    </td>
</tr>
<tr>
    <td>22</td>
    <td>
        Electrodynamic Slayers
        (4&times;&thinsp;<span class="flag-icon flag-icon-in"></span>)
    </td>
    <td>
        72
    </td>
    <td>
        0
    </td>
    <td>
        4
    </td>
</tr>
<tr>
    <td>23</td>
    <td>
        sadbois
        (3&times;&thinsp;<span class="flag-icon flag-icon-us"></span>, 2&times;&thinsp;<span class="flag-icon flag-icon-zz"></span>)
    </td>
    <td>
        72
    </td>
    <td>
        9
    </td>
    <td>
        8
    </td>
</tr>
<tr>
    <td>24</td>
    <td>
        kotsylwester
        (5&times;&thinsp;<span class="flag-icon flag-icon-pl"></span>)
    </td>
    <td>
        70
    </td>
    <td>
        9
    </td>
    <td>
        2
    </td>
</tr>
<tr>
    <td>25</td>
    <td>
        Draudzība, jo tā vienmēr uzvar
        (5&times;&thinsp;<span class="flag-icon flag-icon-lv"></span>)
    </td>
    <td>
        70
    </td>
    <td>
        0
    </td>
    <td>
        1
    </td>
</tr>
<tr>
    <td>26</td>
    <td>
        e=π=sqrt(g)=3
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        67
    </td>
    <td>
        5
    </td>
    <td>
        5
    </td>
</tr>
<tr>
    <td>27</td>
    <td>
        Hoekebe
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        66
    </td>
    <td>
        6
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>28</td>
    <td>
        Machaři 2
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        65
    </td>
    <td>
        8
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>29</td>
    <td>
        Michael Hawk
        (5&times;&thinsp;<span class="flag-icon flag-icon-us"></span>)
    </td>
    <td>
        65
    </td>
    <td>
        0
    </td>
    <td>
        8
    </td>
</tr>
<tr>
    <td>30</td>
    <td>
        bepicolombo
        (4&times;&thinsp;<span class="flag-icon flag-icon-es"></span>)
    </td>
    <td>
        65
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>31</td>
    <td>
        Nekonvenčně invenční
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        64
    </td>
    <td>
        9
    </td>
    <td>
        1
    </td>
</tr>
<tr>
    <td>32</td>
    <td>
        Radley v6.1
        (5&times;&thinsp;<span class="flag-icon flag-icon-gb"></span>)
    </td>
    <td>
        63
    </td>
    <td>
        9
    </td>
    <td>
        4
    </td>
</tr>
<tr>
    <td>33</td>
    <td>
        Underrated af
        (5&times;&thinsp;<span class="flag-icon flag-icon-sk"></span>)
    </td>
    <td>
        63
    </td>
    <td>
        0
    </td>
    <td>
        1
    </td>
</tr>
<tr>
    <td>34</td>
    <td>
        Marlborough Physics
        (5&times;&thinsp;<span class="flag-icon flag-icon-gb"></span>)
    </td>
    <td>
        63
    </td>
    <td>
        7
    </td>
    <td>
        1
    </td>
</tr>
<tr>
    <td>35</td>
    <td>
        Krajina
        (5&times;&thinsp;<span class="flag-icon flag-icon-ba"></span>)
    </td>
    <td>
        60
    </td>
    <td>
        0
    </td>
    <td>
        3
    </td>
</tr>
<tr>
    <td>36</td>
    <td>
        Great Neck South High School B
        (5&times;&thinsp;<span class="flag-icon flag-icon-us"></span>)
    </td>
    <td>
        55
    </td>
    <td>
        0
    </td>
    <td>
        5
    </td>
</tr>
<tr>
    <td>37</td>
    <td>
        Výběrová jelita národa českého
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        54
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>38</td>
    <td>
        PNVR
        (4&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        53
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>39</td>
    <td>
        Fajnmen of Wigym
        (4&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        51
    </td>
    <td>
        8
    </td>
    <td>
        3
    </td>
</tr>
<tr>
    <td>40</td>
    <td>
        Želvičky a sloni
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        46
    </td>
    <td>
        0
    </td>
    <td>
        1
    </td>
</tr>
<tr>
    <td>41</td>
    <td>
        Cooler than 0K
        (4&times;&thinsp;<span class="flag-icon flag-icon-us"></span>)
    </td>
    <td>
        45
    </td>
    <td>
        8
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>42</td>
    <td>
        JETAB
        (5&times;&thinsp;<span class="flag-icon flag-icon-gb"></span>)
    </td>
    <td>
        43
    </td>
    <td>
        0
    </td>
    <td>
        4
    </td>
</tr>
<tr>
    <td>43</td>
    <td>
        Elita národa
        (4&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        43
    </td>
    <td>
        8
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>44</td>
    <td>
        Team202
        (5&times;&thinsp;<span class="flag-icon flag-icon-pl"></span>)
    </td>
    <td>
        42
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>45</td>
    <td>
        PVGŠ
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        42
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>46</td>
    <td>
        The Elitists
        (5&times;&thinsp;<span class="flag-icon flag-icon-se"></span>)
    </td>
    <td>
        41
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>47</td>
    <td>
        René Lubas
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        40
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>48</td>
    <td>
        Předražené tenisky
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        40
    </td>
    <td>
        0
    </td>
    <td>
        3
    </td>
</tr>
<tr>
    <td>49</td>
    <td>
        Hybesvetomhybe
        (5&times;&thinsp;<span class="flag-icon flag-icon-sk"></span>)
    </td>
    <td>
        40
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>50</td>
    <td>
        Departament2
        (5&times;&thinsp;<span class="flag-icon flag-icon-pl"></span>)
    </td>
    <td>
        39
    </td>
    <td>
        0
    </td>
    <td>
        2
    </td>
</tr>
<tr>
    <td>51</td>
    <td>
        LEGENDY
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        37
    </td>
    <td>
        0
    </td>
    <td>
        4
    </td>
</tr>
<tr>
    <td>52</td>
    <td>
        FyzGO
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        37
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>53</td>
    <td>
        Ondra Tým
        (1&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        36
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>54</td>
    <td>
        Anotopýři
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        36
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>55</td>
    <td>
        MadPhys
        (4&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        36
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>56</td>
    <td>
        Padající jablko
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        36
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>57</td>
    <td>
        DaMaZuJaKr
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        35
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>58</td>
    <td>
        Can&#039;t think of a name
        (5&times;&thinsp;<span class="flag-icon flag-icon-gb"></span>)
    </td>
    <td>
        35
    </td>
    <td>
        0
    </td>
    <td>
        4
    </td>
</tr>
<tr>
    <td>59</td>
    <td>
        Paradox babičky
        (4&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        35
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>60</td>
    <td>
        Hattala union
        (4&times;&thinsp;<span class="flag-icon flag-icon-sk"></span>)
    </td>
    <td>
        34
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>61</td>
    <td>
        MocToNeprožíváme
        (2&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        32
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>62</td>
    <td>
        FizykaIILO
        (5&times;&thinsp;<span class="flag-icon flag-icon-pl"></span>)
    </td>
    <td>
        32
    </td>
    <td>
        0
    </td>
    <td>
        1
    </td>
</tr>
<tr>
    <td>63</td>
    <td>
        Terminus technicus
        (4&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        32
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>64</td>
    <td>
        SMRŤ
        (2&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        31
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>65</td>
    <td>
        ISaviDiSion
        (5&times;&thinsp;<span class="flag-icon flag-icon-it"></span>)
    </td>
    <td>
        31
    </td>
    <td>
        0
    </td>
    <td>
        3
    </td>
</tr>
<tr>
    <td>66</td>
    <td>
        Cheltenham College L6th 1
        (5&times;&thinsp;<span class="flag-icon flag-icon-gb"></span>)
    </td>
    <td>
        31
    </td>
    <td>
        0
    </td>
    <td>
        3
    </td>
</tr>
<tr>
    <td>67</td>
    <td>
        The Chemists
        (5&times;&thinsp;<span class="flag-icon flag-icon-gb"></span>)
    </td>
    <td>
        28
    </td>
    <td>
        0
    </td>
    <td>
        1
    </td>
</tr>
<tr>
    <td>68</td>
    <td>
        Piknikony ve škole
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        28
    </td>
    <td>
        0
    </td>
    <td>
        1
    </td>
</tr>
<tr>
    <td>69</td>
    <td>
        Schredinger&#039;s cat
        (5&times;&thinsp;<span class="flag-icon flag-icon-lt"></span>)
    </td>
    <td>
        27
    </td>
    <td>
        0
    </td>
    <td>
        2
    </td>
</tr>
<tr>
    <td>70</td>
    <td>
        Hviezdna rota
        (5&times;&thinsp;<span class="flag-icon flag-icon-sk"></span>)
    </td>
    <td>
        26
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>71</td>
    <td>
        Firebird
        (5&times;&thinsp;<span class="flag-icon flag-icon-ru"></span>)
    </td>
    <td>
        26
    </td>
    <td>
        0
    </td>
    <td>
        5
    </td>
</tr>
<tr>
    <td>72</td>
    <td>
        fAntomaZ420
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        26
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>73</td>
    <td>
        PhyX
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        26
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>74</td>
    <td>
        Jazyčníci
        (5&times;&thinsp;<span class="flag-icon flag-icon-sk"></span>)
    </td>
    <td>
        25
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>75</td>
    <td>
        Kids of Newton
        (5&times;&thinsp;<span class="flag-icon flag-icon-ru"></span>)
    </td>
    <td>
        25
    </td>
    <td>
        0
    </td>
    <td>
        7
    </td>
</tr>
<tr>
    <td>76</td>
    <td>
        ICPUT
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        24
    </td>
    <td>
        0
    </td>
    <td>
        1
    </td>
</tr>
<tr>
    <td>77</td>
    <td>
        Quark
        (5&times;&thinsp;<span class="flag-icon flag-icon-sk"></span>)
    </td>
    <td>
        23
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>78</td>
    <td>
        FYZGAS2
        (4&times;&thinsp;<span class="flag-icon flag-icon-sk"></span>)
    </td>
    <td>
        22
    </td>
    <td>
        0
    </td>
    <td>
        4
    </td>
</tr>
<tr>
    <td>79</td>
    <td>
        FYZGAS1
        (5&times;&thinsp;<span class="flag-icon flag-icon-sk"></span>)
    </td>
    <td>
        22
    </td>
    <td>
        0
    </td>
    <td>
        6
    </td>
</tr>
<tr>
    <td>80</td>
    <td>
        K-c
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        20
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>81</td>
    <td>
        gjar
        (2&times;&thinsp;<span class="flag-icon flag-icon-sk"></span>)
    </td>
    <td>
        19
    </td>
    <td>
        0
    </td>
    <td>
        1
    </td>
</tr>
<tr>
    <td>82</td>
    <td>
        4Hlavy
        (4&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        19
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>83</td>
    <td>
        We are PHYSTACL
        (5&times;&thinsp;<span class="flag-icon flag-icon-vn"></span>)
    </td>
    <td>
        17
    </td>
    <td>
        0
    </td>
    <td>
        5
    </td>
</tr>
<tr>
    <td>84</td>
    <td>
        Wheaton Physics Club
        (5&times;&thinsp;<span class="flag-icon flag-icon-us"></span>)
    </td>
    <td>
        17
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>85</td>
    <td>
        RBMKREACTOR
        (4&times;&thinsp;<span class="flag-icon flag-icon-br"></span>)
    </td>
    <td>
        15
    </td>
    <td>
        0
    </td>
    <td>
        2
    </td>
</tr>
<tr>
    <td>86</td>
    <td>
        BurešBoys
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        14
    </td>
    <td>
        0
    </td>
    <td>
        1
    </td>
</tr>
<tr>
    <td>87</td>
    <td>
        Mlýn
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        14
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>88</td>
    <td>
        All of us wear glasses
        (5&times;&thinsp;<span class="flag-icon flag-icon-vn"></span>)
    </td>
    <td>
        14
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>89</td>
    <td>
        F=m.a
        (5&times;&thinsp;<span class="flag-icon flag-icon-vn"></span>)
    </td>
    <td>
        14
    </td>
    <td>
        0
    </td>
    <td>
        5
    </td>
</tr>
<tr>
    <td>90</td>
    <td>
        The Red Trash Team
        (5&times;&thinsp;<span class="flag-icon flag-icon-se"></span>)
    </td>
    <td>
        13
    </td>
    <td>
        0
    </td>
    <td>
        2
    </td>
</tr>
<tr>
    <td>91</td>
    <td>
        aka
        (1&times;&thinsp;<span class="flag-icon flag-icon-us"></span>)
    </td>
    <td>
        12
    </td>
    <td>
        0
    </td>
    <td>
        10
    </td>
</tr>
<tr>
    <td>92</td>
    <td>
        Fyzika je zivot
        (5&times;&thinsp;<span class="flag-icon flag-icon-sk"></span>)
    </td>
    <td>
        7
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>93</td>
    <td>
        Madames Marie
        (3&times;&thinsp;<span class="flag-icon flag-icon-br"></span>)
    </td>
    <td>
        7
    </td>
    <td>
        0
    </td>
    <td>
        1
    </td>
</tr>
<tr>
    <td>94</td>
    <td>
        FMSS3
        (2&times;&thinsp;<span class="flag-icon flag-icon-ca"></span>)
    </td>
    <td>
        7
    </td>
    <td>
        0
    </td>
    <td>
        2
    </td>
</tr>
<tr>
    <td>95</td>
    <td>
        3.C Gymbos
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        7
    </td>
    <td>
        0
    </td>
    <td>
        7
    </td>
</tr>
<tr>
    <td>96</td>
    <td>
        Marvel
        (5&times;&thinsp;<span class="flag-icon flag-icon-kg"></span>)
    </td>
    <td>
        6
    </td>
    <td>
        0
    </td>
    <td>
        2
    </td>
</tr>
<tr>
    <td>97</td>
    <td>
        LAgvoz
        (2&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        6
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>98</td>
    <td>
        medpos
        (5&times;&thinsp;<span class="flag-icon flag-icon-sk"></span>)
    </td>
    <td>
        5
    </td>
    <td>
        0
    </td>
    <td>
        4
    </td>
</tr>
<tr>
    <td>99</td>
    <td>
        X-FERAS
        (5&times;&thinsp;<span class="flag-icon flag-icon-br"></span>)
    </td>
    <td>
        4
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>100</td>
    <td>
        Calcioví Hoši
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        4
    </td>
    <td>
        0
    </td>
    <td>
        10
    </td>
</tr>
<tr>
    <td>101</td>
    <td>
        Skupina Beta
        (2&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        3
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>102</td>
    <td>
        Bihać feat. Tešanj
        (5&times;&thinsp;<span class="flag-icon flag-icon-ba"></span>)
    </td>
    <td>
        3
    </td>
    <td>
        0
    </td>
    <td>
        1
    </td>
</tr>
<tr>
    <td>103</td>
    <td>
        @V2V
        (5&times;&thinsp;<span class="flag-icon flag-icon-lt"></span>)
    </td>
    <td>
        3
    </td>
    <td>
        0
    </td>
    <td>
        1
    </td>
</tr>
<tr>
    <td>104</td>
    <td>
        Bobínci
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        -5
    </td>
    <td>
        0
    </td>
    <td>
        7
    </td>
</tr>
<tr class="text-muted">
    <td>105</td>
    <td>
        ingenieurs
        (1&times;&thinsp;<span class="flag-icon flag-icon-ru"></span>)
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr class="text-muted">
    <td>106</td>
    <td>
        PAWS
        (3&times;&thinsp;<span class="flag-icon flag-icon-us"></span>)
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr class="text-muted">
    <td>107</td>
    <td>
        Physical Magic
        (1&times;&thinsp;<span class="flag-icon flag-icon-vn"></span>)
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr class="text-muted">
    <td>108</td>
    <td>
        Šport
        (1&times;&thinsp;<span class="flag-icon flag-icon-sk"></span>)
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr class="text-muted">
    <td>109</td>
    <td>
        Team Entropy
        (2&times;&thinsp;<span class="flag-icon flag-icon-in"></span>)
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr class="text-muted">
    <td>110</td>
    <td>
        x=A.cos(wt)
        (1&times;&thinsp;<span class="flag-icon flag-icon-vn"></span>)
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
</table>
<h2 id="hs_c">{_'Středoškoláci C'}</h2>
<table class="table table-condensed table-striped small">
    <thead>
    <th>#</th>
    <th>{_'tým'}</th>
    <th>{_'celkem bodů'}</th>
    <th>{_'bonusové body'}</th>
    <th>{_'záporné body'}</th>
</thead>
<tr class="text-muted">
    <td></td>
    <td>Student Pilný</td>
    <td>321</td>
    <td>40</td>
    <td>0</td>
</tr>
<tr>
    <td>1</td>
    <td>
        stevenson_
        (5&times;&thinsp;<span class="flag-icon flag-icon-us"></span>)
    </td>
    <td>
        121
    </td>
    <td>
        8
    </td>
    <td>
        1
    </td>
</tr>
<tr>
    <td>2</td>
    <td>
        (fine structure constant)^(-1)
        (5&times;&thinsp;<span class="flag-icon flag-icon-ee"></span>)
    </td>
    <td>
        118
    </td>
    <td>
        27
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>3</td>
    <td>
        TMA
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        109
    </td>
    <td>
        13
    </td>
    <td>
        1
    </td>
</tr>
<tr>
    <td>4</td>
    <td>
        TvojeMáma
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        90
    </td>
    <td>
        8
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>5</td>
    <td>
        Snáď inteligentní ľudia
        (5&times;&thinsp;<span class="flag-icon flag-icon-sk"></span>)
    </td>
    <td>
        82
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>6</td>
    <td>
        Dhyey Mavani
        (1&times;&thinsp;<span class="flag-icon flag-icon-in"></span>)
    </td>
    <td>
        81
    </td>
    <td>
        16
    </td>
    <td>
        4
    </td>
</tr>
<tr>
    <td>7</td>
    <td>
        e=π
        (4&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        77
    </td>
    <td>
        8
    </td>
    <td>
        2
    </td>
</tr>
<tr>
    <td>8</td>
    <td>
        FT Zoufalci
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        75
    </td>
    <td>
        9
    </td>
    <td>
        2
    </td>
</tr>
<tr>
    <td>9</td>
    <td>
        Ai meu olho
        (5&times;&thinsp;<span class="flag-icon flag-icon-br"></span>)
    </td>
    <td>
        75
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>10</td>
    <td>
        3939 Legendary Savages!!!
        (5&times;&thinsp;<span class="flag-icon flag-icon-us"></span>)
    </td>
    <td>
        75
    </td>
    <td>
        0
    </td>
    <td>
        2
    </td>
</tr>
<tr>
    <td>11</td>
    <td>
        Jiráskovská pětka
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        75
    </td>
    <td>
        8
    </td>
    <td>
        4
    </td>
</tr>
<tr>
    <td>12</td>
    <td>
        TÝM SE ODHLÁSIL
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        72
    </td>
    <td>
        7
    </td>
    <td>
        1
    </td>
</tr>
<tr>
    <td>13</td>
    <td>
        Neutrina
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        71
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>14</td>
    <td>
        Error 404
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        69
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>15</td>
    <td>
        NaCsiFaKeFe
        (5&times;&thinsp;<span class="flag-icon flag-icon-hu"></span>)
    </td>
    <td>
        66
    </td>
    <td>
        8
    </td>
    <td>
        4
    </td>
</tr>
<tr>
    <td>16</td>
    <td>
        pee=e=sqrt(g)=3
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        63
    </td>
    <td>
        7
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>17</td>
    <td>
        Carmel Cornstars
        (4&times;&thinsp;<span class="flag-icon flag-icon-us"></span>)
    </td>
    <td>
        62
    </td>
    <td>
        0
    </td>
    <td>
        10
    </td>
</tr>
<tr>
    <td>18</td>
    <td>
        Nikdy viac
        (5&times;&thinsp;<span class="flag-icon flag-icon-sk"></span>)
    </td>
    <td>
        61
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>19</td>
    <td>
        (J)elita z Dašáku
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        59
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>20</td>
    <td>
        ΩMG
        (5&times;&thinsp;<span class="flag-icon flag-icon-sk"></span>)
    </td>
    <td>
        59
    </td>
    <td>
        8
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>21</td>
    <td>
        Zkušení amatéři
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        58
    </td>
    <td>
        9
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>22</td>
    <td>
        8&gt;=4
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        57
    </td>
    <td>
        6
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>23</td>
    <td>
        Ybeet
        (5&times;&thinsp;<span class="flag-icon flag-icon-sk"></span>)
    </td>
    <td>
        56
    </td>
    <td>
        8
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>24</td>
    <td>
        Boys &#039;n da Physics
        (5&times;&thinsp;<span class="flag-icon flag-icon-sk"></span>)
    </td>
    <td>
        55
    </td>
    <td>
        9
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>25</td>
    <td>
        5členná 3lógia Douglasa Adamsa
        (5&times;&thinsp;<span class="flag-icon flag-icon-sk"></span>)
    </td>
    <td>
        53
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>26</td>
    <td>
        Š-kvarci
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        53
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>27</td>
    <td>
        Fyziklátiči
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        53
    </td>
    <td>
        7
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>28</td>
    <td>
        Muskovci
        (5&times;&thinsp;<span class="flag-icon flag-icon-sk"></span>)
    </td>
    <td>
        53
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>29</td>
    <td>
        BAŠÓ
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        49
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>30</td>
    <td>
        XYZ
        (5&times;&thinsp;<span class="flag-icon flag-icon-sk"></span>)
    </td>
    <td>
        48
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>31</td>
    <td>
        Scoia&#039;tael
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        47
    </td>
    <td>
        5
    </td>
    <td>
        3
    </td>
</tr>
<tr>
    <td>32</td>
    <td>
        Choboti
        (5&times;&thinsp;<span class="flag-icon flag-icon-sk"></span>)
    </td>
    <td>
        47
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>33</td>
    <td>
        BFGSzSz
        (5&times;&thinsp;<span class="flag-icon flag-icon-hu"></span>)
    </td>
    <td>
        46
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>34</td>
    <td>
        Radim XD
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        46
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>35</td>
    <td>
        Antigravity Pomelos
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        44
    </td>
    <td>
        8
    </td>
    <td>
        1
    </td>
</tr>
<tr>
    <td>36</td>
    <td>
        π = e
        (5&times;&thinsp;<span class="flag-icon flag-icon-sk"></span>)
    </td>
    <td>
        43
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>37</td>
    <td>
        Depflix
        (5&times;&thinsp;<span class="flag-icon flag-icon-pl"></span>)
    </td>
    <td>
        43
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>38</td>
    <td>
        Mikulášská skvadra
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        42
    </td>
    <td>
        0
    </td>
    <td>
        1
    </td>
</tr>
<tr>
    <td>39</td>
    <td>
        Tím GJH, najlepší tím na GJH
        (5&times;&thinsp;<span class="flag-icon flag-icon-sk"></span>)
    </td>
    <td>
        41
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>40</td>
    <td>
        Komeňáci
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        41
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>41</td>
    <td>
        Shift-Solve is the Answer
        (5&times;&thinsp;<span class="flag-icon flag-icon-ph"></span>)
    </td>
    <td>
        41
    </td>
    <td>
        7
    </td>
    <td>
        10
    </td>
</tr>
<tr>
    <td>42</td>
    <td>
        V jednotě je síla
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        40
    </td>
    <td>
        0
    </td>
    <td>
        2
    </td>
</tr>
<tr>
    <td>43</td>
    <td>
        Θ Violeta | PBG Sarajevo
        (4&times;&thinsp;<span class="flag-icon flag-icon-ba"></span>)
    </td>
    <td>
        40
    </td>
    <td>
        0
    </td>
    <td>
        1
    </td>
</tr>
<tr>
    <td>44</td>
    <td>
        Tfamp
        (5&times;&thinsp;<span class="flag-icon flag-icon-sk"></span>)
    </td>
    <td>
        39
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>45</td>
    <td>
        PhysicsSekseri
        (5&times;&thinsp;<span class="flag-icon flag-icon-lv"></span>)
    </td>
    <td>
        39
    </td>
    <td>
        0
    </td>
    <td>
        5
    </td>
</tr>
<tr>
    <td>46</td>
    <td>
        Gymro2
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        38
    </td>
    <td>
        0
    </td>
    <td>
        3
    </td>
</tr>
<tr>
    <td>47</td>
    <td>
        To by tě zajímalo, co?
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        38
    </td>
    <td>
        0
    </td>
    <td>
        3
    </td>
</tr>
<tr>
    <td>48</td>
    <td>
        innere Schweinehunde
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        36
    </td>
    <td>
        0
    </td>
    <td>
        2
    </td>
</tr>
<tr>
    <td>49</td>
    <td>
        Lumíci
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        35
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>50</td>
    <td>
        Budějcká pětka
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        32
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>51</td>
    <td>
        Lopatov
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        31
    </td>
    <td>
        0
    </td>
    <td>
        2
    </td>
</tr>
<tr>
    <td>52</td>
    <td>
        EpIcKeJ nÁzEv
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        30
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>53</td>
    <td>
        gimpel
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        30
    </td>
    <td>
        0
    </td>
    <td>
        1
    </td>
</tr>
<tr>
    <td>54</td>
    <td>
        vzdušní dusíci
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        30
    </td>
    <td>
        0
    </td>
    <td>
        2
    </td>
</tr>
<tr>
    <td>55</td>
    <td>
        Relativně skvělí
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        30
    </td>
    <td>
        0
    </td>
    <td>
        3
    </td>
</tr>
<tr>
    <td>56</td>
    <td>
        Perpetuálně Mobilní Skvadra
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        30
    </td>
    <td>
        0
    </td>
    <td>
        2
    </td>
</tr>
<tr>
    <td>57</td>
    <td>
        Chemical Engineers
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        30
    </td>
    <td>
        0
    </td>
    <td>
        3
    </td>
</tr>
<tr>
    <td>58</td>
    <td>
        Stromy štyrmi
        (5&times;&thinsp;<span class="flag-icon flag-icon-sk"></span>)
    </td>
    <td>
        30
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>59</td>
    <td>
        HTTP 418
        (4&times;&thinsp;<span class="flag-icon flag-icon-es"></span>)
    </td>
    <td>
        29
    </td>
    <td>
        0
    </td>
    <td>
        3
    </td>
</tr>
<tr>
    <td>60</td>
    <td>
        Osmičky
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        27
    </td>
    <td>
        0
    </td>
    <td>
        2
    </td>
</tr>
<tr>
    <td>61</td>
    <td>
        Krotitelé melounů
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        26
    </td>
    <td>
        0
    </td>
    <td>
        4
    </td>
</tr>
<tr>
    <td>62</td>
    <td>
        Palindrom73
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        25
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>63</td>
    <td>
        Tím Mičigen
        (5&times;&thinsp;<span class="flag-icon flag-icon-sk"></span>)
    </td>
    <td>
        25
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>64</td>
    <td>
        Niezwykłe prosiaczki
        (5&times;&thinsp;<span class="flag-icon flag-icon-pl"></span>)
    </td>
    <td>
        25
    </td>
    <td>
        0
    </td>
    <td>
        1
    </td>
</tr>
<tr>
    <td>65</td>
    <td>
        Allt för baguetten
        (5&times;&thinsp;<span class="flag-icon flag-icon-se"></span>)
    </td>
    <td>
        25
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>66</td>
    <td>
        MAMBO
        (5&times;&thinsp;<span class="flag-icon flag-icon-pl"></span>)
    </td>
    <td>
        25
    </td>
    <td>
        0
    </td>
    <td>
        2
    </td>
</tr>
<tr>
    <td>67</td>
    <td>
        Omega
        (5&times;&thinsp;<span class="flag-icon flag-icon-sk"></span>)
    </td>
    <td>
        24
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>68</td>
    <td>
        SULTÁNISTÁN
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        24
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>69</td>
    <td>
        FIZOLUBY
        (5&times;&thinsp;<span class="flag-icon flag-icon-pl"></span>)
    </td>
    <td>
        23
    </td>
    <td>
        0
    </td>
    <td>
        10
    </td>
</tr>
<tr>
    <td>70</td>
    <td>
        Machaři 1
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        22
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>71</td>
    <td>
        BIJIB
        (5&times;&thinsp;<span class="flag-icon flag-icon-se"></span>)
    </td>
    <td>
        22
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>72</td>
    <td>
        Pozitívne napätie
        (5&times;&thinsp;<span class="flag-icon flag-icon-sk"></span>)
    </td>
    <td>
        22
    </td>
    <td>
        0
    </td>
    <td>
        3
    </td>
</tr>
<tr>
    <td>73</td>
    <td>
        Poloma žije!
        (4&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        21
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>74</td>
    <td>
        Šoltészteam
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        21
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>75</td>
    <td>
        dmd
        (3&times;&thinsp;<span class="flag-icon flag-icon-mk"></span>)
    </td>
    <td>
        21
    </td>
    <td>
        0
    </td>
    <td>
        4
    </td>
</tr>
<tr>
    <td>76</td>
    <td>
        Kubíčkovi mazáci
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        20
    </td>
    <td>
        0
    </td>
    <td>
        2
    </td>
</tr>
<tr>
    <td>77</td>
    <td>
        Wincent
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        19
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>78</td>
    <td>
        Velkoborci
        (4&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        18
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>79</td>
    <td>
        Netopýři
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        18
    </td>
    <td>
        0
    </td>
    <td>
        2
    </td>
</tr>
<tr>
    <td>80</td>
    <td>
        Margotky
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        18
    </td>
    <td>
        0
    </td>
    <td>
        3
    </td>
</tr>
<tr>
    <td>81</td>
    <td>
        Chcípáci
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        17
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>82</td>
    <td>
        Nevieme čo tu robíme
        (5&times;&thinsp;<span class="flag-icon flag-icon-sk"></span>)
    </td>
    <td>
        15
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>83</td>
    <td>
        Kulíšci
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        14
    </td>
    <td>
        0
    </td>
    <td>
        1
    </td>
</tr>
<tr>
    <td>84</td>
    <td>
        Fyzika navždy
        (4&times;&thinsp;<span class="flag-icon flag-icon-br"></span>)
    </td>
    <td>
        14
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>85</td>
    <td>
        Superkoblihy
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        12
    </td>
    <td>
        0
    </td>
    <td>
        8
    </td>
</tr>
<tr>
    <td>86</td>
    <td>
        Ryby wód batypelagialnych
        (5&times;&thinsp;<span class="flag-icon flag-icon-pl"></span>)
    </td>
    <td>
        11
    </td>
    <td>
        0
    </td>
    <td>
        1
    </td>
</tr>
<tr>
    <td>87</td>
    <td>
        Herr Cverna a jeho banda
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        11
    </td>
    <td>
        0
    </td>
    <td>
        6
    </td>
</tr>
<tr>
    <td>88</td>
    <td>
        Schrödingerovi psi
        (4&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        10
    </td>
    <td>
        0
    </td>
    <td>
        5
    </td>
</tr>
<tr>
    <td>89</td>
    <td>
        Galvenā čiekura sēklas
        (5&times;&thinsp;<span class="flag-icon flag-icon-lv"></span>)
    </td>
    <td>
        10
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>90</td>
    <td>
        Fizičari RPS
        (5&times;&thinsp;<span class="flag-icon flag-icon-ba"></span>)
    </td>
    <td>
        8
    </td>
    <td>
        0
    </td>
    <td>
        3
    </td>
</tr>
<tr>
    <td>91</td>
    <td>
        Volkovci
        (5&times;&thinsp;<span class="flag-icon flag-icon-sk"></span>)
    </td>
    <td>
        8
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>92</td>
    <td>
        Undertaker
        (1&times;&thinsp;<span class="flag-icon flag-icon-bd"></span>)
    </td>
    <td>
        8
    </td>
    <td>
        0
    </td>
    <td>
        5
    </td>
</tr>
<tr>
    <td>93</td>
    <td>
        WEKTORKI
        (5&times;&thinsp;<span class="flag-icon flag-icon-pl"></span>)
    </td>
    <td>
        8
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>94</td>
    <td>
        Portíša
        (2&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        6
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>95</td>
    <td>
        Judas
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        6
    </td>
    <td>
        0
    </td>
    <td>
        1
    </td>
</tr>
<tr>
    <td>96</td>
    <td>
        Opisthokonta
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        6
    </td>
    <td>
        0
    </td>
    <td>
        2
    </td>
</tr>
<tr>
    <td>97</td>
    <td>
        Tučňáci0068
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        6
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>98</td>
    <td>
        New Frogwill
        (5&times;&thinsp;<span class="flag-icon flag-icon-rs"></span>)
    </td>
    <td>
        5
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>99</td>
    <td>
        Gymik 2. B
        (4&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        5
    </td>
    <td>
        0
    </td>
    <td>
        1
    </td>
</tr>
<tr>
    <td>100</td>
    <td>
        GODSPEED
        (1&times;&thinsp;<span class="flag-icon flag-icon-sg"></span>)
    </td>
    <td>
        4
    </td>
    <td>
        0
    </td>
    <td>
        2
    </td>
</tr>
<tr>
    <td>101</td>
    <td>
        Behaikatam
        (5&times;&thinsp;<span class="flag-icon flag-icon-vn"></span>)
    </td>
    <td>
        4
    </td>
    <td>
        0
    </td>
    <td>
        10
    </td>
</tr>
<tr>
    <td>102</td>
    <td>
        TYKEV
        (3&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        3
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>103</td>
    <td>
        Strawberry
        (5&times;&thinsp;<span class="flag-icon flag-icon-vn"></span>)
    </td>
    <td>
        3
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>104</td>
    <td>
        Seilerová - Plachý
        (2&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        2
    </td>
    <td>
        0
    </td>
    <td>
        3
    </td>
</tr>
<tr>
    <td>105</td>
    <td>
        pV=nRT
        (2&times;&thinsp;<span class="flag-icon flag-icon-ba"></span>)
    </td>
    <td>
        -1
    </td>
    <td>
        0
    </td>
    <td>
        5
    </td>
</tr>
<tr>
    <td>106</td>
    <td>
        NIGHTMARE
        (4&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr class="text-muted">
    <td>107</td>
    <td>
        Čmelaři
        (1&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr class="text-muted">
    <td>108</td>
    <td>
        Fyzikálně Zmatené Berušky
        (2&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr class="text-muted">
    <td>109</td>
    <td>
        Lil&#039;Lucker
        (1&times;&thinsp;<span class="flag-icon flag-icon-sk"></span>)
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr class="text-muted">
    <td>110</td>
    <td>
        TeamKamola
        (3&times;&thinsp;<span class="flag-icon flag-icon-tj"></span>)
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr class="text-muted">
    <td>DNF</td>
    <td>
        Ciocana
        (4&times;&thinsp;<span class="flag-icon flag-icon-md"></span>)
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr class="text-muted">
    <td>DNF</td>
    <td>
        Respvblica
        (4&times;&thinsp;<span class="flag-icon flag-icon-md"></span>)
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
</table>
<h2 id="open">{_'Open'}</h2>
<table class="table table-condensed table-striped small">
    <thead>
    <th>#</th>
    <th>{_'tým'}</th>
    <th>{_'celkem bodů'}</th>
    <th>{_'bonusové body'}</th>
    <th>{_'záporné body'}</th>
</thead>
<tr class="text-muted">
    <td></td>
    <td>Student Pilný</td>
    <td>321</td>
    <td>40</td>
    <td>0</td>
</tr>
<tr>
    <td>1</td>
    <td>
        Temple of Next
        (5&times;&thinsp;<span class="flag-icon flag-icon-us"></span>)
    </td>
    <td>
        249
    </td>
    <td>
        38
    </td>
    <td>
        2
    </td>
</tr>
<tr>
    <td>2</td>
    <td>
        Catchers in the E&amp;M field
        (2&times;&thinsp;<span class="flag-icon flag-icon-vn"></span>, 1&times;&thinsp;<span class="flag-icon flag-icon-hk"></span>, 2&times;&thinsp;<span class="flag-icon flag-icon-zz"></span>)
    </td>
    <td>
        248
    </td>
    <td>
        26
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>3</td>
    <td>
        FtáKopySk
        (2&times;&thinsp;<span class="flag-icon flag-icon-sk"></span>, 1&times;&thinsp;<span class="flag-icon flag-icon-zz"></span>, 1&times;&thinsp;<span class="flag-icon flag-icon-it"></span>, 1&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        241
    </td>
    <td>
        39
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>4</td>
    <td>
        NOFY066
        (2&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>, 2&times;&thinsp;<span class="flag-icon flag-icon-ch"></span>, 1&times;&thinsp;<span class="flag-icon flag-icon-zz"></span>)
    </td>
    <td>
        214
    </td>
    <td>
        27
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>5</td>
    <td>
        Five Ugly Faces
        (5&times;&thinsp;<span class="flag-icon flag-icon-zz"></span>)
    </td>
    <td>
        204
    </td>
    <td>
        34
    </td>
    <td>
        3
    </td>
</tr>
<tr>
    <td>6</td>
    <td>
        Veterani
        (1&times;&thinsp;<span class="flag-icon flag-icon-at"></span>, 1&times;&thinsp;<span class="flag-icon flag-icon-ch"></span>, 1&times;&thinsp;<span class="flag-icon flag-icon-us"></span>, 1&times;&thinsp;<span class="flag-icon flag-icon-ba"></span>, 1&times;&thinsp;<span class="flag-icon flag-icon-de"></span>)
    </td>
    <td>
        187
    </td>
    <td>
        37
    </td>
    <td>
        6
    </td>
</tr>
<tr>
    <td>7</td>
    <td>
        E = yumm_c
        (5&times;&thinsp;<span class="flag-icon flag-icon-in"></span>)
    </td>
    <td>
        182
    </td>
    <td>
        28
    </td>
    <td>
        3
    </td>
</tr>
<tr>
    <td>8</td>
    <td>
        5 scimmie
        (5&times;&thinsp;<span class="flag-icon flag-icon-zz"></span>)
    </td>
    <td>
        178
    </td>
    <td>
        18
    </td>
    <td>
        2
    </td>
</tr>
<tr>
    <td>9</td>
    <td>
        SILVER CATALYST
        (3&times;&thinsp;<span class="flag-icon flag-icon-zz"></span>, 1&times;&thinsp;<span class="flag-icon flag-icon-sg"></span>, 1&times;&thinsp;<span class="flag-icon flag-icon-us"></span>)
    </td>
    <td>
        177
    </td>
    <td>
        24
    </td>
    <td>
        5
    </td>
</tr>
<tr>
    <td>10</td>
    <td>
        Castrambe Returns
        (5&times;&thinsp;<span class="flag-icon flag-icon-in"></span>)
    </td>
    <td>
        171
    </td>
    <td>
        22
    </td>
    <td>
        10
    </td>
</tr>
<tr>
    <td>11</td>
    <td>
        Fykosáci
        (5&times;&thinsp;<span class="flag-icon flag-icon-gb"></span>)
    </td>
    <td>
        165
    </td>
    <td>
        28
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>12</td>
    <td>
        важното е да сме живи и здрави
        (3&times;&thinsp;<span class="flag-icon flag-icon-gb"></span>, 2&times;&thinsp;<span class="flag-icon flag-icon-bg"></span>)
    </td>
    <td>
        154
    </td>
    <td>
        26
    </td>
    <td>
        8
    </td>
</tr>
<tr>
    <td>13</td>
    <td>
        ZAMO
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        153
    </td>
    <td>
        17
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>14</td>
    <td>
        Vyzývací tým GFMP
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        141
    </td>
    <td>
        8
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>15</td>
    <td>
        u frogba?
        (4&times;&thinsp;<span class="flag-icon flag-icon-us"></span>, 1&times;&thinsp;<span class="flag-icon flag-icon-zz"></span>)
    </td>
    <td>
        139
    </td>
    <td>
        8
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>16</td>
    <td>
        GaliExpress
        (5&times;&thinsp;<span class="flag-icon flag-icon-it"></span>)
    </td>
    <td>
        133
    </td>
    <td>
        16
    </td>
    <td>
        4
    </td>
</tr>
<tr>
    <td>17</td>
    <td>
        Lin alg + Cal
        (4&times;&thinsp;<span class="flag-icon flag-icon-vn"></span>, 1&times;&thinsp;<span class="flag-icon flag-icon-zz"></span>)
    </td>
    <td>
        131
    </td>
    <td>
        9
    </td>
    <td>
        4
    </td>
</tr>
<tr>
    <td>18</td>
    <td>
        Magic
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        130
    </td>
    <td>
        17
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>19</td>
    <td>
        δS = 0
        (2&times;&thinsp;<span class="flag-icon flag-icon-zz"></span>)
    </td>
    <td>
        128
    </td>
    <td>
        17
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>20</td>
    <td>
        ASGAP vs the Forces of SI
        (5&times;&thinsp;<span class="flag-icon flag-icon-ru"></span>)
    </td>
    <td>
        127
    </td>
    <td>
        18
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>21</td>
    <td>
        Matter matters
        (1&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>, 4&times;&thinsp;<span class="flag-icon flag-icon-sk"></span>)
    </td>
    <td>
        124
    </td>
    <td>
        8
    </td>
    <td>
        2
    </td>
</tr>
<tr>
    <td>22</td>
    <td>
        BUET_Physix
        (5&times;&thinsp;<span class="flag-icon flag-icon-bd"></span>)
    </td>
    <td>
        119
    </td>
    <td>
        16
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>23</td>
    <td>
        Hej rup!
        (4&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>, 1&times;&thinsp;<span class="flag-icon flag-icon-gb"></span>)
    </td>
    <td>
        118
    </td>
    <td>
        17
    </td>
    <td>
        1
    </td>
</tr>
<tr>
    <td>24</td>
    <td>
        :(){ :|:&amp; };:
        (5&times;&thinsp;<span class="flag-icon flag-icon-ba"></span>)
    </td>
    <td>
        117
    </td>
    <td>
        20
    </td>
    <td>
        3
    </td>
</tr>
<tr>
    <td>25</td>
    <td>
        Fanatická pětka
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        114
    </td>
    <td>
        14
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>26</td>
    <td>
        TrustUsWeAreEngineers
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        112
    </td>
    <td>
        7
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>27</td>
    <td>
        RCPD Dons
        (4&times;&thinsp;<span class="flag-icon flag-icon-gb"></span>)
    </td>
    <td>
        102
    </td>
    <td>
        9
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>28</td>
    <td>
        TeamAnant
        (4&times;&thinsp;<span class="flag-icon flag-icon-zz"></span>)
    </td>
    <td>
        102
    </td>
    <td>
        9
    </td>
    <td>
        3
    </td>
</tr>
<tr>
    <td>29</td>
    <td>
        Muradif
        (4&times;&thinsp;<span class="flag-icon flag-icon-ba"></span>, 1&times;&thinsp;<span class="flag-icon flag-icon-de"></span>)
    </td>
    <td>
        97
    </td>
    <td>
        17
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>30</td>
    <td>
        The Jokers
        (4&times;&thinsp;<span class="flag-icon flag-icon-gr"></span>, 1&times;&thinsp;<span class="flag-icon flag-icon-gb"></span>)
    </td>
    <td>
        95
    </td>
    <td>
        8
    </td>
    <td>
        10
    </td>
</tr>
<tr>
    <td>31</td>
    <td>
        Singletón
        (1&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        94
    </td>
    <td>
        15
    </td>
    <td>
        3
    </td>
</tr>
<tr>
    <td>32</td>
    <td>
        Proper pasta
        (2&times;&thinsp;<span class="flag-icon flag-icon-ie"></span>, 1&times;&thinsp;<span class="flag-icon flag-icon-ba"></span>, 1&times;&thinsp;<span class="flag-icon flag-icon-it"></span>, 1&times;&thinsp;<span class="flag-icon flag-icon-nl"></span>)
    </td>
    <td>
        93
    </td>
    <td>
        16
    </td>
    <td>
        5
    </td>
</tr>
<tr>
    <td>33</td>
    <td>
        LiverPower
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        93
    </td>
    <td>
        17
    </td>
    <td>
        5
    </td>
</tr>
<tr>
    <td>34</td>
    <td>
        Modus Tollens
        (1&times;&thinsp;<span class="flag-icon flag-icon-se"></span>, 4&times;&thinsp;<span class="flag-icon flag-icon-zz"></span>)
    </td>
    <td>
        93
    </td>
    <td>
        18
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>35</td>
    <td>
        Mecânicos Quânticos
        (3&times;&thinsp;<span class="flag-icon flag-icon-br"></span>, 2&times;&thinsp;<span class="flag-icon flag-icon-zz"></span>)
    </td>
    <td>
        92
    </td>
    <td>
        8
    </td>
    <td>
        5
    </td>
</tr>
<tr>
    <td>36</td>
    <td>
        Aneta Klep Kotleta
        (5&times;&thinsp;<span class="flag-icon flag-icon-zz"></span>)
    </td>
    <td>
        90
    </td>
    <td>
        7
    </td>
    <td>
        1
    </td>
</tr>
<tr>
    <td>37</td>
    <td>
        FELlow humans
        (4&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        89
    </td>
    <td>
        8
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>38</td>
    <td>
        Hodgepodge
        (5&times;&thinsp;<span class="flag-icon flag-icon-de"></span>)
    </td>
    <td>
        87
    </td>
    <td>
        16
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>39</td>
    <td>
        motoklubík revival
        (4&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        83
    </td>
    <td>
        9
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>40</td>
    <td>
        Stardust Crusaders
        (4&times;&thinsp;<span class="flag-icon flag-icon-in"></span>)
    </td>
    <td>
        83
    </td>
    <td>
        8
    </td>
    <td>
        3
    </td>
</tr>
<tr>
    <td>41</td>
    <td>
        En10in3pirnpi^2 beasts
        (5&times;&thinsp;<span class="flag-icon flag-icon-gb"></span>)
    </td>
    <td>
        82
    </td>
    <td>
        6
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>42</td>
    <td>
        Omega Nought Squared
        (3&times;&thinsp;<span class="flag-icon flag-icon-gb"></span>)
    </td>
    <td>
        80
    </td>
    <td>
        8
    </td>
    <td>
        1
    </td>
</tr>
<tr>
    <td>43</td>
    <td>
        KelvinKeplerKurchatov
        (4&times;&thinsp;<span class="flag-icon flag-icon-lv"></span>)
    </td>
    <td>
        76
    </td>
    <td>
        8
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>44</td>
    <td>
        Utolsó pillanati jelentkezők
        (5&times;&thinsp;<span class="flag-icon flag-icon-hu"></span>)
    </td>
    <td>
        76
    </td>
    <td>
        0
    </td>
    <td>
        4
    </td>
</tr>
<tr>
    <td>45</td>
    <td>
        PFIEV
        (5&times;&thinsp;<span class="flag-icon flag-icon-vn"></span>)
    </td>
    <td>
        72
    </td>
    <td>
        6
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>46</td>
    <td>
        Newton&#039;s Apples
        (5&times;&thinsp;<span class="flag-icon flag-icon-zz"></span>)
    </td>
    <td>
        67
    </td>
    <td>
        8
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>47</td>
    <td>
        Pentaquark
        (5&times;&thinsp;<span class="flag-icon flag-icon-bd"></span>)
    </td>
    <td>
        67
    </td>
    <td>
        9
    </td>
    <td>
        10
    </td>
</tr>
<tr>
    <td>48</td>
    <td>
        No Idea
        (5&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        65
    </td>
    <td>
        9
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>49</td>
    <td>
        Frogwill 5
        (4&times;&thinsp;<span class="flag-icon flag-icon-zz"></span>, 1&times;&thinsp;<span class="flag-icon flag-icon-rs"></span>)
    </td>
    <td>
        61
    </td>
    <td>
        8
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>50</td>
    <td>
        LV1Ģ
        (3&times;&thinsp;<span class="flag-icon flag-icon-lv"></span>)
    </td>
    <td>
        60
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>51</td>
    <td>
        Pešek
        (4&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        57
    </td>
    <td>
        8
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>52</td>
    <td>
        M Solo
        (1&times;&thinsp;<span class="flag-icon flag-icon-sk"></span>)
    </td>
    <td>
        56
    </td>
    <td>
        9
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>53</td>
    <td>
        Marlborough College
        (5&times;&thinsp;<span class="flag-icon flag-icon-gb"></span>)
    </td>
    <td>
        55
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>54</td>
    <td>
        Temná složka síly
        (1&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>, 1&times;&thinsp;<span class="flag-icon flag-icon-zz"></span>)
    </td>
    <td>
        48
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>55</td>
    <td>
        Stará garda
        (4&times;&thinsp;<span class="flag-icon flag-icon-zz"></span>, 1&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        46
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>56</td>
    <td>
        Phoenix
        (3&times;&thinsp;<span class="flag-icon flag-icon-bd"></span>)
    </td>
    <td>
        43
    </td>
    <td>
        0
    </td>
    <td>
        2
    </td>
</tr>
<tr>
    <td>57</td>
    <td>
        Vípáček
        (1&times;&thinsp;<span class="flag-icon flag-icon-zz"></span>)
    </td>
    <td>
        40
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>58</td>
    <td>
        PMF UNSA
        (5&times;&thinsp;<span class="flag-icon flag-icon-ba"></span>)
    </td>
    <td>
        39
    </td>
    <td>
        0
    </td>
    <td>
        1
    </td>
</tr>
<tr>
    <td>59</td>
    <td>
        Just for fun
        (5&times;&thinsp;<span class="flag-icon flag-icon-zz"></span>)
    </td>
    <td>
        38
    </td>
    <td>
        0
    </td>
    <td>
        4
    </td>
</tr>
<tr>
    <td>60</td>
    <td>
        Tachyon
        (3&times;&thinsp;<span class="flag-icon flag-icon-bd"></span>)
    </td>
    <td>
        37
    </td>
    <td>
        8
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>61</td>
    <td>
        Clay Bird
        (4&times;&thinsp;<span class="flag-icon flag-icon-bd"></span>)
    </td>
    <td>
        35
    </td>
    <td>
        9
    </td>
    <td>
        1
    </td>
</tr>
<tr>
    <td>62</td>
    <td>
        VINTAGE
        (5&times;&thinsp;<span class="flag-icon flag-icon-bd"></span>)
    </td>
    <td>
        35
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>63</td>
    <td>
        Five Orange Blips
        (5&times;&thinsp;<span class="flag-icon flag-icon-in"></span>)
    </td>
    <td>
        31
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>64</td>
    <td>
        Slytherin
        (2&times;&thinsp;<span class="flag-icon flag-icon-bd"></span>)
    </td>
    <td>
        30
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>65</td>
    <td>
        cerebrum vacuum
        (1&times;&thinsp;<span class="flag-icon flag-icon-zz"></span>)
    </td>
    <td>
        24
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>66</td>
    <td>
        University of Colombo
        (4&times;&thinsp;<span class="flag-icon flag-icon-lk"></span>)
    </td>
    <td>
        21
    </td>
    <td>
        0
    </td>
    <td>
        10
    </td>
</tr>
<tr>
    <td>67</td>
    <td>
        Chupacabra
        (2&times;&thinsp;<span class="flag-icon flag-icon-zz"></span>)
    </td>
    <td>
        20
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>68</td>
    <td>
        IC Spits Fire
        (3&times;&thinsp;<span class="flag-icon flag-icon-gb"></span>)
    </td>
    <td>
        18
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>69</td>
    <td>
        Bad Boys
        (2&times;&thinsp;<span class="flag-icon flag-icon-us"></span>)
    </td>
    <td>
        18
    </td>
    <td>
        0
    </td>
    <td>
        2
    </td>
</tr>
<tr>
    <td>70</td>
    <td>
        Orion Vanguard
        (5&times;&thinsp;<span class="flag-icon flag-icon-bd"></span>)
    </td>
    <td>
        17
    </td>
    <td>
        0
    </td>
    <td>
        5
    </td>
</tr>
<tr>
    <td>71</td>
    <td>
        Noobs
        (5&times;&thinsp;<span class="flag-icon flag-icon-bd"></span>)
    </td>
    <td>
        16
    </td>
    <td>
        0
    </td>
    <td>
        10
    </td>
</tr>
<tr>
    <td>72</td>
    <td>
        BD Gamer
        (4&times;&thinsp;<span class="flag-icon flag-icon-bd"></span>)
    </td>
    <td>
        11
    </td>
    <td>
        0
    </td>
    <td>
        8
    </td>
</tr>
<tr>
    <td>73</td>
    <td>
        FLAMING HYDROGEN
        (2&times;&thinsp;<span class="flag-icon flag-icon-bd"></span>)
    </td>
    <td>
        8
    </td>
    <td>
        0
    </td>
    <td>
        1
    </td>
</tr>
<tr>
    <td>74</td>
    <td>
        *fizikaGANG*
        (3&times;&thinsp;<span class="flag-icon flag-icon-zz"></span>)
    </td>
    <td>
        8
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>75</td>
    <td>
        SB
        (1&times;&thinsp;<span class="flag-icon flag-icon-in"></span>)
    </td>
    <td>
        6
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>76</td>
    <td>
        tsunami
        (5&times;&thinsp;<span class="flag-icon flag-icon-ru"></span>)
    </td>
    <td>
        5
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>77</td>
    <td>
        Curious
        (4&times;&thinsp;<span class="flag-icon flag-icon-bd"></span>)
    </td>
    <td>
        4
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr>
    <td>78</td>
    <td>
        Solutions squad
        (3&times;&thinsp;<span class="flag-icon flag-icon-bd"></span>)
    </td>
    <td>
        -1
    </td>
    <td>
        0
    </td>
    <td>
        4
    </td>
</tr>
<tr class="text-muted">
    <td>79</td>
    <td>
        Amisha
        (1&times;&thinsp;<span class="flag-icon flag-icon-bd"></span>)
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr class="text-muted">
    <td>80</td>
    <td>
        Canes Venantes
        (3&times;&thinsp;<span class="flag-icon flag-icon-cz"></span>)
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr class="text-muted">
    <td>81</td>
    <td>
        Celestials
        (1&times;&thinsp;<span class="flag-icon flag-icon-in"></span>, 3&times;&thinsp;<span class="flag-icon flag-icon-zz"></span>)
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr class="text-muted">
    <td>82</td>
    <td>
        Friendless
        (1&times;&thinsp;<span class="flag-icon flag-icon-mx"></span>)
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr class="text-muted">
    <td>83</td>
    <td>
        Keshav
        (1&times;&thinsp;<span class="flag-icon flag-icon-in"></span>)
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr class="text-muted">
    <td>84</td>
    <td>
        me
        (1&times;&thinsp;<span class="flag-icon flag-icon-zz"></span>)
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr class="text-muted">
    <td>85</td>
    <td>
        Physis lover
        (1&times;&thinsp;<span class="flag-icon flag-icon-zz"></span>)
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr class="text-muted">
    <td>86</td>
    <td>
        Rocket
        (1&times;&thinsp;<span class="flag-icon flag-icon-zz"></span>)
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr class="text-muted">
    <td>87</td>
    <td>
        Shweta
        (1&times;&thinsp;<span class="flag-icon flag-icon-zz"></span>)
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr class="text-muted">
    <td>88</td>
    <td>
        Spark
        (1&times;&thinsp;<span class="flag-icon flag-icon-bd"></span>)
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr class="text-muted">
    <td>89</td>
    <td>
        Team Pawsome
        (2&times;&thinsp;<span class="flag-icon flag-icon-bd"></span>)
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr class="text-muted">
    <td>90</td>
    <td>
        Zahirian
        (1&times;&thinsp;<span class="flag-icon flag-icon-zz"></span>)
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr class="text-muted">
    <td>DNF</td>
    <td>
        314
        (5&times;&thinsp;<span class="flag-icon flag-icon-vn"></span>)
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr class="text-muted">
    <td>DNF</td>
    <td>
        NRU MSUCE
        (5&times;&thinsp;<span class="flag-icon flag-icon-ru"></span>)
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
<tr class="text-muted">
    <td>DNF</td>
    <td>
        NRU MSUCE 2
        (5&times;&thinsp;<span class="flag-icon flag-icon-ru"></span>)
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
    <td>
        0
    </td>
</tr>
</table>