{layout ../@layout.latte}
{block content}
    {varType FOL\Model\Card\Card $card}
    <div class="row">
        <strong class="col">{_'Used'}</strong><span class="col">{$card->getUsage()->created->format('c')}</span>
    </div>
    <hr/>
    {include usage}
{/block}
