{layout ./@layout.latte}
{block usage}
    {varType FOL\Model\Card\AddTaskCard $card}
    {varType string $lang}

    {varType FOL\Model\ORM\Models\ModelGroup $group}
    {var $group = $card->serviceGroup->findByPrimary($card->getUsage()->getData())}
    <span>{_($group->text)}</span>
{/block}
