{layout ./@layout.latte}
{block usage}
    {varType FOL\Model\Card\AddTaskCard $card}
    {varType string $lang}

    {var $data = $card->getUsage()->getData()}
    {varType FOL\Model\ORM\Models\ModelGroup $group}
    {var $group = $card->serviceGroup->findByPrimary($data['group'])}
    <span>{_($group->text)}</span>
{/block}
