{block bigcontent}
<ul>
    <li><a href="{link Noticeboard:add}">Přidat notifikaci.</a></li>
    <li><a href="{link Default:chat}">Přidat příspěvek do fóra.</a> (POZOR! přidejte příspěvek do cz i en verze.)</li>
</ul>