{foreach $notifications as $notification}
    <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close"><span class="glyphicon glyphicon-remove"/></a>
        <b>{$notification['message']}</b> {$notification['created']|time}
    </div>
{/foreach}