{varType Fykosak\Utils\ORM\TypedTableSelection $tasks}
{varType string $basePath}
{varType string $tasksInfoElement}
{varType FOL\Components\AnswerForm\AnswerFormComponent $control}
{varType array $tasksInfo}
{varType FOL\Modules\GameModule\AnswerPresenter$presenter}

{block content}
    {if $tasks->count()}
        {control form}

        {capture $script}
            <script type="text/javascript" src="{$basePath}/js/taskInfo.js"></script>

            <script type="text/javascript">
                $('#' +{$tasksInfoElement}).infoElement($('#' +{$control['form']['task']->getHtmlId()}), {
                    'data': {$tasksInfo},
                    'realHint': {_("Pí lze zapsat jako: 3.14; 3,14; 314e-2 nebo 0.314e1.")},
                    'expected': {_("Očekávaný počet platných cifer")},
                    'unit': {_("Jednotka")},
                    'maxPoints': {_("Maximum bodů")},
                    'curPoints':{_("Aktuálně bodů")}});
                $(function () {
                    var timesecs = $('.timesec');
                    var button = $('#' +{$control['form'][$submitElement]->getHtmlId()});
                    if (timesecs.length) {
                        button.attr('disabled', 'disabled');
                    }
                    timesecs.timeElement({
                        'handler': function () {
                            button.removeAttr('disabled');
                        }
                    });
                });
            </script>
        {/capture}
        {php $presenter->addCustomScript($script)}

        {* <ul>
             {foreach $tasks as $task}
                 <li>
                     <a href="{plink Answer:entry,'id'=>$task['id_task']}">{$task["name_" . $control->getPresenter()->lang]}</a>
                 </li>
             {/foreach}
         </ul>*}
    {/if}
{/block}
