{extends '../@layout.latte'}

{block #title}
<br>
<div class="alert alert-info" role="alert">
{if $lang == 'cs'}
  Líbí se vám Fyziklání online? Pak se přihlašte i na <a href="https://fyziklani.cz/" class="alert-link">Fyziklání 2020</a> v Praze.
{else}
  Do you enjoy Online Physics Brawl? Then also take part in <a href="https://fyziklani.org/en" class="alert-link">Fyziklani 2020 &ndash; Team Contest in Prague</a>.
{/if}
</div>
{include parent}
{/block}

{block #subnavigation}            
<ul class="nav">
    <li>
        <a href="{plink Stats:default}" title="{_'Výsledky'}">{_'Výsledky'}</a>
        <ul>
            {foreach $categories AS $category => $name}
            <li><a href="{plink Stats:default}#{$category}" title="{$name}">{$name}</a></li>
            {/foreach}
        </ul>
    </li>
    <li><a href="{plink Stats:detail}" title="{_'Podrobné výsledky'}">{_'Podrobné výsledky'}</a></li>
    <li><a href="{plink Stats:tasks}" title="{_'Statistiky úkolů'}">{_'Statistiky úkolů'}</a></li>
</ul>
{/block}
