{define tasks}
    {varType bool $isGameStarted}
    {varType string $lang}
    {varType array $unsolvedTasks}
    {varType array $solvedTasks}
    {varType array $skippedTasks}
    {varType FOL\Model\ORM\Models\ModelTeam $team}
    {varType array $mirrors}
    {varType FOL\Model\ORM\Models\ModelTask $task}
    {varType Fykosak\Utils\ORM\TypedTableSelection $tasks}
    {varType FOL\Model\ScoreStrategy $scoreStrategy}
    {varType bool $link}

    {if count($tasks) == 0}
        <p>{_'Žádné úlohy.'}</p>
    {else}
        <div class="row">
            {foreach $tasks as $task}

                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card">
                        {var $color = $task->getGroup()->getColorByGroup()}
                        <h5 class="card-header"
                            style="{('background-color:' . $color )|noescape}">{$task->getLabel($lang)}</h5>
                        <div class="card-body">
                            {if $link}
                                <small class="text-muted">
                                    ({$scoreStrategy->getSingleTaskScore($team, $task)} {_'b.'}, max. {$task->points} {_'b.'}
                                        )
                                    {if $task->getHint()}
                                        <br>{_('má nápovědu')}
                                    {/if}
                                </small>
                                <hr/>
                            {/if}



                            <div class="row">
                                {foreach $mirrors as $mirror}
                                    <a class="col-12"
                                       href="{$mirror}{$task|i18n:'filename',$lang}">Mirror {$iterator->getCounter()}</a>
                                {/foreach}
                            </div>
                            {if $link}
                                <hr/>
                                <a class="btn btn-primary"
                                   href="{plink :Game:Answer:default id=>$task->id_task}">{_'Odpovedať'}</a>
                            {/if}
                        </div>
                    </div>
                </div>
            {/foreach}
        </div>
    {/if}
{/define}

{block content}
    {varType bool $isGameStarted}
    {varType string $lang}
    {varType array $unsolvedTasks}
    {varType array $solvedTasks}
    {varType array $skippedTasks}

    {*{cache "problems/$id_team", "problems"}*}

    {*{if $lang == 'cs'}
    <p><b>Věnujte prosím pár minut vyplnění <a href="https://forms.gle/Tyxoq5TETdcHqLPq6">ankety</a> o letošním FoLu.</b></p>
    {else}
    <p><b>Please, spend a few moments filling a <a href="https://forms.gle/5uJHPEgpC6x4vBYW9">survey</a> about this year's competition.</b></p>
    {/if}*}

    {if !$isGameStarted}
        <div class="alert alert-secondary">
            {if $lang == 'cs'}
                Jakmile hra začne, na této stránce se objeví zadání úloh. Úlohy budete moci odevzdávat na stránce <b>Odevzdat
                řešení</b>, která se objeví v menu po začátku hry.
                <hr>
                V mezičase, co takhle poslat nějakou fotku vašeho týmu na <a href="mailto:online@fyziklani.cz">online@fyziklani.cz</a>?
            {else}
                Once the game starts, the task assignment will appear here. You will be able to submit the tasks on the
                <b>Submit the solution</b> page, which will appear in the menu after the game starts.
                <hr>
                In the meantime, how about sending a photo of your team to <a href="mailto:online@fyziklani.cz">online@fyziklani.cz</a>?
            {/if}
        </div>
    {/if}

    {include tasks tasks=>$unsolvedTasks,link=>true}

    <h3 class="mt-3">{_'Vyřešené'}</h3>
    {include tasks tasks=>$solvedTasks,link=>false}

    <h3 class="mt-3">{_'Přeskočené'}</h3>
    {include tasks tasks=>$skippedTasks,link=>false}

{/block}
