{define tasks}
    {varType bool $isGameStarted}
    {varType string $lang}
    {varType array $unsolvedTasks}
    {varType array $solvedTasks}
    {varType array $skippedTasks}
    {varType FOL\Model\ORM\Models\ModelTeam $team}
    {varType array $mirrors}
    {varType FOL\Model\ORM\Models\ModelTask $task}
    {varType Fykosak\Utils\ORM\TypedTableSelection $tasks}
    {varType FOL\Model\ScoreStrategy $scoreStrategy}
    {varType bool $link}

    {if count($tasks) == 0}
        <p>{_'Žádné úlohy.'}</p>
    {else}
        <div class="row">
            {foreach $tasks as $task}

                <div class="col-sm-6 col-md-4 col-lg-3">
                    <div class="card">
                        {var $color = $task->getGroup()->getColorByGroup()}
                        <h5 class="card-header text-white"
                            style="{('background-color:' . $color )|noescape}">{$task->getLabel($lang)}</h5>
                        <div class="card-body">
                            {if $link}
                                <small class="text-muted">
                                    ({$scoreStrategy->getSingleTaskScore($team, $task)} {_'b.'}, max. {$task->points} {_'b.'}
                                        )
                                    {if $task->getHint()}
                                        <br>{_('má nápovědu')}
                                    {/if}
                                </small>
                                <hr/>
                            {/if}




                            <div class="row">
                                {foreach $mirrors as $mirror}
                                    <a class="col-12"
                                       href="{$mirror}{$task|i18n:'filename',$lang}">{_'PDF assignment'} <small>(server #{$iterator->getCounter()})</small></a>
                                {/foreach}
                            </div>
                            {if $link}
                                <hr/>
                                <a class="btn btn-primary"
                                   href="{plink :Game:Answer:default id=>$task->id_task}">{_'Odevzdat řešení'}</a>
                            {/if}
                        </div>
                    </div>
                </div>
            {/foreach}
        </div>
    {/if}
{/define}

{block content}
    {varType bool $isGameStarted}
    {varType string $lang}
    {varType array $unsolvedTasks}
    {varType array $solvedTasks}
    {varType array $skippedTasks}
    {varType string $streamURL}

    {*{cache "problems/$id_team", "problems"}*}

    {*{if $lang == 'cs'}
    <p><b>Věnujte prosím pár minut vyplnění <a href="https://forms.gle/Tyxoq5TETdcHqLPq6">ankety</a> o letošním FoLu.</b></p>
    {else}
    <p><b>Please, spend a few moments filling a <a href="https://forms.gle/5uJHPEgpC6x4vBYW9">survey</a> about this year's competition.</b></p>
    {/if}*}

    {if $isGameStarted}
        {include tasks tasks=>$unsolvedTasks,link=>true}

        <h3 class="mt-3">{_'Vyřešené'}</h3>
        {include tasks tasks=>$solvedTasks,link=>false}

        <h3 class="mt-3">{_'Přeskočené'}</h3>
        {include tasks tasks=>$skippedTasks,link=>false}
    {else}
        {if $lang == 'cs'}
            <p><strong>Jakmile hra začne, na této stránce se objeví zadání úloh. Jste zde správně.</strong> Během čekání můžete zavítat na náš stream, kde hru oficiálně spustíme a vysvětlíme její pravidla.
                Po hře nezapomeňte opět navštívit stream, kde bude oficiální vyhlášení výsledků. Odkaz nezapomeňte poslat svým fyzikářům, ať vám můžou fandit.</p>
            <p><a href="{$streamURL}" target="_blank" class="stream-link">{$streamURL}</a></p>
        {else}
            <p><strong>Once the game starts, the task assignment will appear here. You are in the right place.</strong> Please visit our YouTube stream during the waiting, where we officially start the game and explain the rules.
                After the game, the result will be announced here as the following program. Do not forget to share the link among your physics teachers so they can be informed and see your progress.</p>
            <p><a href="{$streamURL}" target="_blank" class="stream-link">{$streamURL}</a></p>
        {/if}
    {/if}

{/block}
