{block #content}
    {cache "results/" . $presenter->lang, tags => [$presenter::STATS_TAG]}
        <p>{_'V průběhu hry nejsou statistiky okamžité, údaje jsou řádově po minutách přepočítávány.'}</p>
        <p>{_'Šedé jsou týmy, jež neprojevily během hry aktivitu.'}</p>
        {control results}
    {/cache}
{/block}
