{block #body}
    {control flashMessages}
    {if $available}
        {cache "scoreList/" . $presenter->lang, tags => [$presenter::STATS_TAG]}
            {control scoreList}
        {/cache}
    {/if}
{/block}
