
.bg-fol {
    background-image: -webkit-linear-gradient(top, #b6cb83 0, #66a139 100%);
    background-image: -o-linear-gradient(top, #b6cb83 0, #66a139 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#b6cb83), to(#66a139));
    background-image: linear-gradient(to bottom, #b6cb83 0, #66a139 100%);
}

html, body {
    height: 100%;
}

body {
    padding: 5rem 0;
}

footer {
    height: 5rem;
}

main {
    min-height: 100%;
}
