
.bg-fol {
    background-image: -webkit-linear-gradient(top, #ff933a 0, #FF640F 100%);
    background-image: -o-linear-gradient(top, #ff933a 0, #FF640F 100%);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#ff933a), to(#FF640F));
    background-image: linear-gradient(to bottom, #ff933a 0, #FF640F 100%);
}

html, body {
    height: 100%;
}

body {
    padding: 5rem 0;
}

footer {
    height: 5rem;
}

main {
    min-height: 100%;
}
